In [1]:
import pandas as pd
import numpy as np

In [4]:
fname = 'dataset_omop.pkl'

In [5]:
import pickle as pkl

df = pkl.load(open(fname, 'rb'))

In [6]:
df['measurement_datetime'] = df['measurement_datetime'].apply(pd.to_datetime)

In [29]:
df.iloc[:10]

,measurement_datetime,target,person_id,BP diastolic,BP systolic,Body temperature,Glasgow coma scale,Heart rate,Mean blood pressure,Mean pressure Respiratory system airway Calculated,...,race_UNABLE TO OBTAIN,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN,race_NaN,age,Respiratory rate avg h-2
0,2182-07-31 04:11:00,0,62063393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,60.8,NaN
1,2182-07-31 04:45:00,0,62063393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,60.8,NaN
2,2188-11-12 10:00:00,0,62063368,88.0,146.0,36.388901,15.0,NaN,107.333,NaN,...,0,0,0,0,0,0,0,0,23.9,NaN
3,2188-11-12 10:30:00,0,62063368,95.0,140.0,NaN,NaN,134.0,110.000,NaN,...,0,0,0,0,0,0,0,0,23.9,38.000000
4,2188-11-12 10:45:00,0,62063368,97.0,144.0,NaN,NaN,134.0,112.667,NaN,...,0,0,0,0,0,0,0,0,23.9,36.000000
5,2188-11-12 11:00:00,0,62063368,91.0,140.0,NaN,NaN,134.0,107.333,NaN,...,0,0,0,0,0,0,0,0,23.9,37.666667
6,2188-11-12 12:00:00,0,62063368,98.0,139.0,97.599998,NaN,135.0,111.667,NaN,...,0,0,0,0,0,0,0,0,23.9,38.250000
7,2188-11-12 13:00:00,0,62063368,108.0,158.0,36.666698,15.0,134.0,124.667,NaN,...,0,0,0,0,0,0,0,0,23.9,39.000000
8,2188-11-12 13:03:00,0,62063368,NaN,NaN,36.700000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,35.000000
9,2188-11-12 13:30:00,0,62063368,105.0,159.0,NaN,NaN,134.0,123.000,NaN,...,0,0,0,0,0,0,0,0,23.9,35.000000

In [8]:
variable_names = df.columns.values
mat = np.asarray(df)

In [34]:
# Extracting dataframe for each patient
list_df = dict()
patients_id = []

for patient_id, sub_df in df.groupby('person_id'):
    list_df[patient_id] = sub_df
    patients_id.append(patient_id)

In [31]:
import warnings
from datetime import timedelta

class Dataloader():
    
    def __init__(self):
        pass
    
    def load_data(self, df):
        self.df = df
        self.measurement_datetime = df['measurement_datetime']
        self.start_dt = self.measurement_datetime.iloc[0]
        self.end_dt = self.measurement_datetime.iloc[-1]
        
        self.variables = df.columns.values
        
    def make_timeline(self, start_dt=None, end_dt=None, step=timedelta(days=1), window=timedelta(days=1)):
        
        if start_dt is None:
            start_dt = self.start_dt
        if end_dt is None:
            end_dt = self.end_dt
            
        if start_dt > self.end_dt:
            raise ValueError('`start_date` cannot be greater than {}'.format(self.end_dt))
        if end_dt < self.start_dt:
            raise ValueError('`end_date` cannot be smaller than {}'.format(self.start_dt))
        if start_dt > end_dt:
            raise ValueError('`end_date` should be greater than `start_date`')
        
        timeline = []
        
        self.step = step
        self.window = window
        
        delta = end_dt - start_dt

        i = 0
        t = start_dt
        while t < end_dt:
            t = start_dt + i * step
            timeline.append(t)
            i += 1
            
        self.timeline = timeline
        self.n_times = len(self.timeline)
        
    def get_time(self, i):
        if i > self.n_times:
            raise ValueError('Cannot fetch time index {} (max {}).'.format(i, self.n_times - 1))
        return self.timeline[i]
        
    def _make_batch(self, i):
        time = self.get_time(i)
        j = 1
        mask = (self.measurement_datetime > time - j * self.window) & (self.measurement_datetime <= time)
        batch = self.df[mask] 
        if len(batch.index) == 0:
            # If no data is fetched, we go back in time to fetch some until we do.
            while True:
                j += 1
                mask = (self.measurement_datetime > time - j * self.window) & (self.measurement_datetime <= time)
                new_batch = self.df[mask]
                if len(new_batch.index) > 0:
                    warnings.warn('No data between {} and {}. Going back {}.'.format(time, time - j * self.window, self.window))
                    batch = new_batch
                    break
        return batch
    
    def build_batches(self):
        self.batches = [self._make_batch(i) for i in range(self.n_times)]
        self.n_batches = len(self.batches)
        
    def get_batch(self, i):
        if i > self.n_batches:
            raise ValueError('Cannot fetch batch {} (max {}).'.format(i, self.n_batches - 1))
        return self.batches[i]
    
    def batch_to_matrix(self, batches):
        if not isinstance(batches, list):
            return batches.as_matrix()
        else:
            return [batch.as_matrix() for batch in self.batches]

In [33]:
dataloaders = dict()

for patient_id, sub_df in list_df.items():
    
    dataloader = Dataloader()

    # Load dataset
    dataloader.load_data(list_df[patient_id])

    # Build timeline
    step = timedelta(days=1)  # get batch every 'step'
    window = timedelta(days=1)  # batch size of 'window'
    dataloader.make_timeline(step=step, window=window)

    # Build batches
    dataloader.build_batches()
    print('n_batches: {}'.format(dataloader.n_times))
    
    dataloaders[patient_id] = dataloader

n_batches: 12
n_batches: 5
n_batches: 2

In [35]:
dataloaders[patients_id[0]].get_batch(1)

,measurement_datetime,target,person_id,BP diastolic,BP systolic,Body temperature,Glasgow coma scale,Heart rate,Mean blood pressure,Mean pressure Respiratory system airway Calculated,...,race_UNABLE TO OBTAIN,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN,race_NaN,age,Respiratory rate avg h-2
3,2188-11-12 10:30:00,0,62063368,95.0,140.0,NaN,NaN,134.0,110.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,38.000000
4,2188-11-12 10:45:00,0,62063368,97.0,144.0,NaN,NaN,134.0,112.667000,NaN,...,0,0,0,0,0,0,0,0,23.9,36.000000
5,2188-11-12 11:00:00,0,62063368,91.0,140.0,NaN,NaN,134.0,107.333000,NaN,...,0,0,0,0,0,0,0,0,23.9,37.666667
6,2188-11-12 12:00:00,0,62063368,98.0,139.0,97.599998,NaN,135.0,111.667000,NaN,...,0,0,0,0,0,0,0,0,23.9,38.250000
7,2188-11-12 13:00:00,0,62063368,108.0,158.0,36.666698,15.0,134.0,124.667000,NaN,...,0,0,0,0,0,0,0,0,23.9,39.000000
8,2188-11-12 13:03:00,0,62063368,NaN,NaN,36.700000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,35.000000
9,2188-11-12 13:30:00,0,62063368,105.0,159.0,NaN,NaN,134.0,123.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,35.000000
10,2188-11-12 14:00:00,0,62063368,107.0,157.0,NaN,NaN,137.0,123.667000,NaN,...,0,0,0,0,0,0,0,0,23.9,33.666667
11,2188-11-12 14:45:00,0,62063368,101.0,149.0,NaN,NaN,147.0,117.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,32.333333
12,2188-11-12 15:00:00,0,62063368,100.0,147.0,NaN,NaN,146.0,115.667000,NaN,...,0,0,0,0,0,0,0,0,23.9,34.750000
13,2188-11-12 15:30:00,0,62063368,110.0,154.0,NaN,NaN,144.0,124.667000,NaN,...,0,0,0,0,0,0,0,0,23.9,36.750000
14,2188-11-12 16:00:00,0,62063368,122.0,171.0,NaN,15.0,134.0,138.332993,NaN,...,0,0,0,0,0,0,0,0,23.9,38.750000
15,2188-11-12 16:10:00,0,62063368,NaN,NaN,NaN,NaN,NaN,NaN,21.0,...,0,0,0,0,0,0,0,0,23.9,39.250000
16,2188-11-12 17:00:00,0,62063368,78.0,116.0,NaN,NaN,142.0,80.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,34.500000
17,2188-11-12 18:00:00,0,62063368,84.0,136.0,NaN,NaN,129.0,102.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,25.666667
18,2188-11-12 18:15:00,0,62063368,70.0,122.0,NaN,NaN,127.0,88.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,19.500000
19,2188-11-12 18:30:00,0,62063368,62.0,109.0,NaN,NaN,127.0,78.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,21.333333
20,2188-11-12 19:00:00,0,62063368,79.0,130.0,NaN,NaN,123.0,95.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,22.000000
21,2188-11-12 20:00:00,0,62063368,61.0,109.0,37.944401,10.0,135.0,77.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,21.750000
22,2188-11-12 20:36:00,0,62063368,NaN,NaN,37.900000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,20.000000
23,2188-11-12 21:00:00,0,62063368,73.0,125.0,NaN,NaN,135.0,90.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,16.666667
24,2188-11-12 21:16:00,0,62063368,NaN,NaN,NaN,NaN,NaN,NaN,21.0,...,0,0,0,0,0,0,0,0,23.9,19.000000
25,2188-11-12 22:00:00,0,62063368,79.0,134.0,39.000000,NaN,137.0,97.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,15.500000
26,2188-11-12 22:04:00,0,62063368,NaN,NaN,37.800000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,16.250000
27,2188-11-12 23:00:00,0,62063368,82.0,135.0,NaN,NaN,151.0,99.000000,23.0,...,0,0,0,0,0,0,0,0,23.9,15.416667
28,2188-11-12 23:37:00,0,62063368,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,14.222222
29,2188-11-13 00:00:00,0,62063368,61.0,102.0,38.666698,9.0,147.0,75.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,18.166667
30,2188-11-13 00:30:00,0,62063368,62.0,98.0,NaN,NaN,140.0,74.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,25.333333
31,2188-11-13 01:00:00,0,62063368,77.0,121.0,NaN,NaN,141.0,92.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,28.000000
32,2188-11-13 01:30:00,0,62063368,96.0,142.0,NaN,NaN,133.0,111.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,32.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,2188-11-13 04:08:00,0,62063368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,29.083333
47,2188-11-13 04:15:00,0,62063368,58.0,90.0,35.833302,NaN,125.0,70.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,29.083333
48,2188-11-13 04:30:00,0,62063368,61.0,94.0,35.555599,NaN,126.0,73.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,26.333333
49,2188-11-13 05:00:00,0,62063368,64.0,99.0,NaN,NaN,132.0,77.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,26.000000
50,2188-11-13 05:49:00,0,62063368,NaN,NaN,37.600000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,14.200000
51,2188-11-13 06:00:00,0,62063368,63.0,93.0,NaN,NaN,138.0,74.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,14.000000
52,2188-11-13 06:15:00,0,62063368,57.0,82.0,NaN,NaN,138.0,66.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,14.200000
53,2188-11-13 06:30:00,0,62063368,62.0,90.0,36.444401,NaN,135.0,73.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,21.400000
54,2188-11-13 06:45:00,0,62063368,63.0,90.0,NaN,NaN,135.0,73.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,26.800000
55,2188-11-13 07:00:00,0,62063368,63.0,89.0,NaN,NaN,135.0,73.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,27.666667
56,2188-11-13 07:05:00,0,62063368,62.0,88.0,NaN,NaN,136.0,72.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,33.500000
57,2188-11-13 08:00:00,0,62063368,67.0,94.0,97.699997,3.0,140.0,77.000000,23.0,...,0,0,0,0,0,0,0,0,23.9,33.500000
58,2188-11-13 08:13:00,0,62063368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,27.500000
59,2188-11-13 08:15:00,0,62063368,52.0,72.0,NaN,NaN,134.0,58.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,27.500000
60,2188-11-13 08:25:00,0,62063368,52.0,73.0,NaN,NaN,133.0,59.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,27.333333
61,2188-11-13 08:30:00,0,62063368,51.0,71.0,NaN,NaN,133.0,58.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,28.428571
62,2188-11-13 08:40:00,0,62063368,53.0,74.0,NaN,NaN,134.0,60.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,29.571429
63,2188-11-13 08:45:00,0,62063368,56.0,80.0,NaN,NaN,136.0,65.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,30.250000
64,2188-11-13 08:50:00,0,62063368,55.0,79.0,NaN,NaN,132.0,64.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,30.625000
65,2188-11-13 08:53:00,0,62063368,NaN,NaN,36.500000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,31.111111
66,2188-11-13 09:00:00,0,62063368,57.0,82.0,NaN,NaN,133.0,65.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,31.500000
67,2188-11-13 09:15:00,0,62063368,53.0,74.0,98.199997,NaN,133.0,60.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,31.111111
68,2188-11-13 09:17:00,0,62063368,50.0,68.0,NaN,NaN,128.0,55.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,31.500000
69,2188-11-13 09:25:00,0,62063368,54.0,72.0,NaN,NaN,127.0,60.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,31.818182
70,2188-11-13 09:35:00,0,62063368,55.0,71.0,NaN,NaN,123.0,60.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,32.083333
71,2188-11-13 09:40:00,0,62063368,54.0,69.0,NaN,NaN,122.0,59.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,32.307692
72,2188-11-13 09:45:00,0,62063368,55.0,71.0,NaN,NaN,116.0,60.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,32.500000
73,2188-11-13 09:50:00,0,62063368,52.0,66.0,NaN,NaN,114.0,57.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,32.666667
74,2188-11-13 09:55:00,0,62063368,48.0,62.0,NaN,NaN,107.0,52.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,32.812500
75,2188-11-13 10:00:00,0,62063368,50.0,66.0,NaN,3.0,102.0,55.000000,NaN,...,0,0,0,0,0,0,0,0,23.9,32.941176

In [ ]:
# def fill_last_upto(row):
#     """Compute age."""
#     return row['measurement_datetime'] - row['birth_datetime']