In [1]:
import pandas as pd
import numpy as np

In [2]:
fname = 'dataset_omop.pkl'

In [3]:
import pickle as pkl

df = pkl.load(open(fname, 'rb'))

In [4]:
# df['measurement_datetime'] = df['measurement_datetime'].apply(pd.to_datetime)

In [5]:
df.iloc[:10]

,measurement_datetime,target,super_target,person_id,BP diastolic,BP systolic,Body temperature,Glasgow coma scale,Heart rate,Mean blood pressure,...,race_UNABLE TO OBTAIN,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN,race_NaN,age,Respiratory rate avg h-2
0,2182-07-31 04:11:00,0,1,62063393,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,60.8,NaN
1,2182-07-31 04:45:00,0,1,62063393,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,60.8,NaN
2,2188-11-12 10:00:00,0,1,62063368,88.0,146.0,36.388901,15.0,NaN,107.333,...,0,0,0,0,0,0,0,0,23.9,NaN
3,2188-11-12 10:30:00,0,1,62063368,95.0,140.0,NaN,NaN,134.0,110.000,...,0,0,0,0,0,0,0,0,23.9,38.000000
4,2188-11-12 10:45:00,0,1,62063368,97.0,144.0,NaN,NaN,134.0,112.667,...,0,0,0,0,0,0,0,0,23.9,36.000000
5,2188-11-12 11:00:00,0,1,62063368,91.0,140.0,NaN,NaN,134.0,107.333,...,0,0,0,0,0,0,0,0,23.9,37.666667
6,2188-11-12 12:00:00,0,1,62063368,98.0,139.0,97.599998,NaN,135.0,111.667,...,0,0,0,0,0,0,0,0,23.9,38.250000
7,2188-11-12 13:00:00,0,1,62063368,108.0,158.0,36.666698,15.0,134.0,124.667,...,0,0,0,0,0,0,0,0,23.9,39.000000
8,2188-11-12 13:03:00,0,1,62063368,NaN,NaN,36.700000,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,35.000000
9,2188-11-12 13:30:00,0,1,62063368,105.0,159.0,NaN,NaN,134.0,123.000,...,0,0,0,0,0,0,0,0,23.9,35.000000

In [6]:
variable_names = df.columns.values
mat = np.asarray(df)

In [7]:
from datetime import timedelta
from fleming_lib.preprocessing import fill_last_upto

# Fill missing values with last one (up to h time prior to measurement)
df = df.groupby('person_id', group_keys=False).apply(fill_last_upto, h=timedelta(hours=24))

# Sort index
df.sort_index(inplace=True)

[INFO] adding /home/paulroujansky/git/DataForGood/batch4_diafoirus_fleming to sys.path

In [14]:
# Extracting dataframe for each patient
list_df = dict()
patients_id = []

for patient_id, sub_df in df.groupby('person_id'):
    list_df[patient_id] = sub_df
    patients_id.append(patient_id)

In [15]:
import warnings
from datetime import timedelta

class Dataloader():
    
    def __init__(self):
        pass
    
    def load_data(self, df):
        self.df = df
        self.measurement_datetime = df['measurement_datetime']
        self.start_dt = self.measurement_datetime.iloc[0]
        self.end_dt = self.measurement_datetime.iloc[-1]
        
        self.variables = df.columns.values
        
    def make_timeline(self, start_dt=None, end_dt=None, step=timedelta(days=1), window=timedelta(days=1)):
        
        if start_dt is None:
            start_dt = self.start_dt
        if end_dt is None:
            end_dt = self.end_dt
            
        if start_dt > self.end_dt:
            raise ValueError('`start_date` cannot be greater than {}'.format(self.end_dt))
        if end_dt < self.start_dt:
            raise ValueError('`end_date` cannot be smaller than {}'.format(self.start_dt))
        if start_dt > end_dt:
            raise ValueError('`end_date` should be greater than `start_date`')
        
        timeline = []
        
        self.step = step
        self.window = window
        
        delta = end_dt - start_dt

        i = 0
        t = start_dt
        while t < end_dt:
            t = start_dt + i * step
            timeline.append(t)
            i += 1
            
        self.timeline = timeline
        self.n_times = len(self.timeline)
        
    def get_time(self, i):
        if i > self.n_times:
            raise ValueError('Cannot fetch time index {} (max {}).'.format(i, self.n_times - 1))
        return self.timeline[i]
        
    def _make_batch(self, i):
        time = self.get_time(i)
        j = 1
        mask = (self.measurement_datetime > time - j * self.window) & (self.measurement_datetime <= time)
        batch = self.df[mask] 
        if len(batch.index) == 0:
            # If no data is fetched, we go back in time to fetch some until we do.
            while True:
                j += 1
                mask = (self.measurement_datetime > time - j * self.window) & (self.measurement_datetime <= time)
                new_batch = self.df[mask]
                if len(new_batch.index) > 0:
                    warnings.warn('No data between {} and {}. Going back {}.'.format(time, time - j * self.window, self.window))
                    batch = new_batch
                    break
        return batch
    
    def build_batches(self):
        self.batches = [self._make_batch(i) for i in range(self.n_times)]
        self.n_batches = len(self.batches)
        
    def get_batch(self, i):
        if i > self.n_batches:
            raise ValueError('Cannot fetch batch {} (max {}).'.format(i, self.n_batches - 1))
        return self.batches[i]
    
    def batch_to_matrix(self, batches):
        if not isinstance(batches, list):
            return batches.as_matrix()
        else:
            return [batch.as_matrix() for batch in self.batches]

In [16]:
dataloaders = dict()

for patient_id, sub_df in list_df.items():
    
    dataloader = Dataloader()

    # Load dataset
    dataloader.load_data(list_df[patient_id])

    # Build timeline
    step = timedelta(days=1)  # get batch every 'step'
    window = timedelta(days=1)  # batch size of 'window'
    dataloader.make_timeline(step=step, window=window)

    # Build batches
    dataloader.build_batches()
    print('n_batches: {}'.format(dataloader.n_times))
    
    dataloaders[patient_id] = dataloader

n_batches: 12
n_batches: 5
n_batches: 2

In [18]:
dataloaders[patients_id[0]].get_batch(1)

,measurement_datetime,target,super_target,person_id,BP diastolic,BP systolic,Body temperature,Glasgow coma scale,Heart rate,Mean blood pressure,...,race_UNABLE TO OBTAIN,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN,race_NaN,age,Respiratory rate avg h-2
3,2188-11-12 10:30:00,0,1,62063368,95,140,36.3889,15,134,110,...,0,0,0,0,0,0,0,0,23.9,38
4,2188-11-12 10:45:00,0,1,62063368,97,144,36.3889,15,134,112.667,...,0,0,0,0,0,0,0,0,23.9,36
5,2188-11-12 11:00:00,0,1,62063368,91,140,36.3889,15,134,107.333,...,0,0,0,0,0,0,0,0,23.9,37.6667
6,2188-11-12 12:00:00,0,1,62063368,98,139,97.6,15,135,111.667,...,0,0,0,0,0,0,0,0,23.9,38.25
7,2188-11-12 13:00:00,0,1,62063368,108,158,36.6667,15,134,124.667,...,0,0,0,0,0,0,0,0,23.9,39
8,2188-11-12 13:03:00,0,1,62063368,108,158,36.7,15,134,124.667,...,0,0,0,0,0,0,0,0,23.9,35
9,2188-11-12 13:30:00,0,1,62063368,105,159,36.7,15,134,123,...,0,0,0,0,0,0,0,0,23.9,35
10,2188-11-12 14:00:00,0,1,62063368,107,157,36.7,15,137,123.667,...,0,0,0,0,0,0,0,0,23.9,33.6667
11,2188-11-12 14:45:00,0,1,62063368,101,149,36.7,15,147,117,...,0,0,0,0,0,0,0,0,23.9,32.3333
12,2188-11-12 15:00:00,0,1,62063368,100,147,36.7,15,146,115.667,...,0,0,0,0,0,0,0,0,23.9,34.75
13,2188-11-12 15:30:00,0,1,62063368,110,154,36.7,15,144,124.667,...,0,0,0,0,0,0,0,0,23.9,36.75
14,2188-11-12 16:00:00,0,1,62063368,122,171,36.7,15,134,138.333,...,0,0,0,0,0,0,0,0,23.9,38.75
15,2188-11-12 16:10:00,0,1,62063368,122,171,36.7,15,134,138.333,...,0,0,0,0,0,0,0,0,23.9,39.25
16,2188-11-12 17:00:00,0,1,62063368,78,116,36.7,15,142,80,...,0,0,0,0,0,0,0,0,23.9,34.5
17,2188-11-12 18:00:00,0,1,62063368,84,136,36.7,15,129,102,...,0,0,0,0,0,0,0,0,23.9,25.6667
18,2188-11-12 18:15:00,0,1,62063368,70,122,36.7,15,127,88,...,0,0,0,0,0,0,0,0,23.9,19.5
19,2188-11-12 18:30:00,0,1,62063368,62,109,36.7,15,127,78,...,0,0,0,0,0,0,0,0,23.9,21.3333
20,2188-11-12 19:00:00,0,1,62063368,79,130,36.7,15,123,95,...,0,0,0,0,0,0,0,0,23.9,22
21,2188-11-12 20:00:00,0,1,62063368,61,109,37.9444,10,135,77,...,0,0,0,0,0,0,0,0,23.9,21.75
22,2188-11-12 20:36:00,0,1,62063368,61,109,37.9,10,135,77,...,0,0,0,0,0,0,0,0,23.9,20
23,2188-11-12 21:00:00,0,1,62063368,73,125,37.9,10,135,90,...,0,0,0,0,0,0,0,0,23.9,16.6667
24,2188-11-12 21:16:00,0,1,62063368,73,125,37.9,10,135,90,...,0,0,0,0,0,0,0,0,23.9,19
25,2188-11-12 22:00:00,0,1,62063368,79,134,39,10,137,97,...,0,0,0,0,0,0,0,0,23.9,15.5
26,2188-11-12 22:04:00,0,1,62063368,79,134,37.8,10,137,97,...,0,0,0,0,0,0,0,0,23.9,16.25
27,2188-11-12 23:00:00,0,1,62063368,82,135,37.8,10,151,99,...,0,0,0,0,0,0,0,0,23.9,15.4167
28,2188-11-12 23:37:00,0,1,62063368,82,135,39,10,151,99,...,0,0,0,0,0,0,0,0,23.9,14.2222
29,2188-11-13 00:00:00,0,1,62063368,61,102,38.6667,9,147,75,...,0,0,0,0,0,0,0,0,23.9,18.1667
30,2188-11-13 00:30:00,0,1,62063368,62,98,38.6667,9,140,74,...,0,0,0,0,0,0,0,0,23.9,25.3333
31,2188-11-13 01:00:00,0,1,62063368,77,121,38.6667,9,141,92,...,0,0,0,0,0,0,0,0,23.9,28
32,2188-11-13 01:30:00,0,1,62063368,96,142,38.6667,9,133,111,...,0,0,0,0,0,0,0,0,23.9,32.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,2188-11-13 04:08:00,0,1,62063368,54,85,96.1,8,122,65,...,0,0,0,0,0,0,0,0,23.9,29.0833
47,2188-11-13 04:15:00,0,1,62063368,58,90,35.8333,8,125,70,...,0,0,0,0,0,0,0,0,23.9,29.0833
48,2188-11-13 04:30:00,0,1,62063368,61,94,35.5556,8,126,73,...,0,0,0,0,0,0,0,0,23.9,26.3333
49,2188-11-13 05:00:00,0,1,62063368,64,99,35.5556,8,132,77,...,0,0,0,0,0,0,0,0,23.9,26
50,2188-11-13 05:49:00,0,1,62063368,64,99,37.6,8,132,77,...,0,0,0,0,0,0,0,0,23.9,14.2
51,2188-11-13 06:00:00,0,1,62063368,63,93,37.6,8,138,74,...,0,0,0,0,0,0,0,0,23.9,14
52,2188-11-13 06:15:00,0,1,62063368,57,82,37.6,8,138,66,...,0,0,0,0,0,0,0,0,23.9,14.2
53,2188-11-13 06:30:00,0,1,62063368,62,90,36.4444,8,135,73,...,0,0,0,0,0,0,0,0,23.9,21.4
54,2188-11-13 06:45:00,0,1,62063368,63,90,36.4444,8,135,73,...,0,0,0,0,0,0,0,0,23.9,26.8
55,2188-11-13 07:00:00,0,1,62063368,63,89,36.4444,8,135,73,...,0,0,0,0,0,0,0,0,23.9,27.6667
56,2188-11-13 07:05:00,0,1,62063368,62,88,36.4444,8,136,72,...,0,0,0,0,0,0,0,0,23.9,33.5
57,2188-11-13 08:00:00,0,1,62063368,67,94,97.7,3,140,77,...,0,0,0,0,0,0,0,0,23.9,33.5
58,2188-11-13 08:13:00,0,1,62063368,67,94,97.7,3,140,77,...,0,0,0,0,0,0,0,0,23.9,27.5
59,2188-11-13 08:15:00,0,1,62063368,52,72,97.7,3,134,58,...,0,0,0,0,0,0,0,0,23.9,27.5
60,2188-11-13 08:25:00,0,1,62063368,52,73,97.7,3,133,59,...,0,0,0,0,0,0,0,0,23.9,27.3333
61,2188-11-13 08:30:00,0,1,62063368,51,71,97.7,3,133,58,...,0,0,0,0,0,0,0,0,23.9,28.4286
62,2188-11-13 08:40:00,0,1,62063368,53,74,97.7,3,134,60,...,0,0,0,0,0,0,0,0,23.9,29.5714
63,2188-11-13 08:45:00,0,1,62063368,56,80,97.7,3,136,65,...,0,0,0,0,0,0,0,0,23.9,30.25
64,2188-11-13 08:50:00,0,1,62063368,55,79,97.7,3,132,64,...,0,0,0,0,0,0,0,0,23.9,30.625
65,2188-11-13 08:53:00,0,1,62063368,55,79,36.5,3,132,64,...,0,0,0,0,0,0,0,0,23.9,31.1111
66,2188-11-13 09:00:00,0,1,62063368,57,82,36.5,3,133,65,...,0,0,0,0,0,0,0,0,23.9,31.5
67,2188-11-13 09:15:00,0,1,62063368,53,74,98.2,3,133,60,...,0,0,0,0,0,0,0,0,23.9,31.1111
68,2188-11-13 09:17:00,0,1,62063368,50,68,98.2,3,128,55,...,0,0,0,0,0,0,0,0,23.9,31.5
69,2188-11-13 09:25:00,0,1,62063368,54,72,98.2,3,127,60,...,0,0,0,0,0,0,0,0,23.9,31.8182
70,2188-11-13 09:35:00,0,1,62063368,55,71,98.2,3,123,60,...,0,0,0,0,0,0,0,0,23.9,32.0833
71,2188-11-13 09:40:00,0,1,62063368,54,69,98.2,3,122,59,...,0,0,0,0,0,0,0,0,23.9,32.3077
72,2188-11-13 09:45:00,0,1,62063368,55,71,98.2,3,116,60,...,0,0,0,0,0,0,0,0,23.9,32.5
73,2188-11-13 09:50:00,0,1,62063368,52,66,98.2,3,114,57,...,0,0,0,0,0,0,0,0,23.9,32.6667
74,2188-11-13 09:55:00,0,1,62063368,48,62,98.2,3,107,52,...,0,0,0,0,0,0,0,0,23.9,32.8125
75,2188-11-13 10:00:00,0,1,62063368,50,66,98.2,3,102,55,...,0,0,0,0,0,0,0,0,23.9,32.9412