# Create a table in OMOP database

In [1]:
# Get your credentials
import numpy as np
omop_login = np.load('full_omop_login.npy').item()

# Open a connection to OMOP
from fleming_lib.tools import connect_to_omop
conn = connect_to_omop(login_dict=omop_login)

# Get ready for SQL query processing
import pandas as pd

In [3]:
# Activate access
conn.execute("set schema fleming;set role fleming_access;")

'&4 f\n&3 21004 80\n'

In [5]:
# Create a table
conn.execute("create table fleming.test as select * from omop.person limit 10")

'&3 259569 660\n'

In [6]:
# Check if it worked well.
pd.read_sql("select count(1) from fleming.test",conn)

   L3
0  10

In [8]:
# Delete the table
conn.execute("drop table fleming.test")

'&3 25108 353\n'