# OMOP Create Dataset

Connect to database

In [19]:
# Get your credentials
import numpy as np
omop_login = np.load('full_omop_login.npy').item()

# Open a connection to OMOP
from fleming_lib.tools import connect_to_omop
conn = connect_to_omop(login_dict=omop_login)

# Get ready for SQL query processing
import pandas as pd
import datetime

## Select list of patients

### SQL requests


- not be "limited" (Concept_id: 2001018843 and 2001030812 and 4127294)

In [2]:
query = """
select
    distinct person_id
from 
    measurement 
where 
    measurement_source_concept_id in (2001018843, 2001030812, 4127294)  
    ;"""

limitation = pd.read_sql_query(query, conn)

KeyboardInterrupt:

- Age >= 15 
- Processed only by intensive care unit

In [180]:
# in ICU
query = """
with icu as (
    select
        care_site_id, care_site_name, place_of_service_source_value
    from
        care_site
    where
        lower(place_of_service_source_value) like '%intensive%'     -- selecting ICUs
    and
        lower(place_of_service_source_value) not like '%neonatal%'    -- removing Neonatal ICUs
    )
select
    vd.person_id
from
    visit_detail vd
join
    icu
on
    icu.care_site_id = vd.care_site_id
;"""

icu = pd.read_sql_query(query, conn)

In [181]:
# age > 15
query = """
with person_age as (
    select
        p.person_id, (v.visit_start_date - p.birth_datetime)/365.25 age
    from
        person p
    left outer join
        visit_occurrence v
    on
        p.person_id = v.person_id)
select
    person_id, age
from
    person_age
where
    age > 15            -- including persons older than 15
and 
    age < 150             -- removing any outliers
;"""

age = pd.read_sql_query(query, conn)

### Cohort fusion

In [182]:
list_patient = list(set(icu.person_id) & set(age.person_id) & set(limitation.person_id))
list_patient[:10]

[62095360,
 62095362,
 62095364,
 62095365,
 62095367,
 62095368,
 62095369,
 62095372,
 62095375,
 62095376]

In [183]:
len(list_patient)

21404

## Build dataset for each patient

### Extract patients meta

In [2]:
query = """
select
    distinct p.person_id, p.gender_source_value gender, p.race_source_value race, p.birth_datetime
from
    person p
    ;"""

meta = pd.read_sql_query(query, conn)

# Note: ethnicity is empty so we do not add it

In [3]:
meta['birth_datetime'] = pd.to_datetime(meta['birth_datetime'])

In [4]:
meta.iloc[:10]

   person_id gender   race birth_datetime
0   62065089      F  ASIAN     2107-06-29
1   62106569      M  ASIAN     2047-11-01
2   62073299      F  ASIAN     2190-04-23
3   62096906      M  ASIAN     2182-09-07
4   62102055      M  ASIAN     2087-02-28
5   62106786      F  ASIAN     2161-03-31
6   62083063      F  ASIAN     2125-12-16
7   62078234      M  ASIAN     2110-06-19
8   62065073      F  ASIAN     2074-05-27
9   62100837      F  ASIAN     2136-07-22

In [5]:
print('Counts:')
for name in ['gender', 'race']:
    print(name + '\n' + '-'*30)
    print(meta[name].value_counts())
    print('')

Counts:
gender
------------------------------
M    26121
F    20399
Name: gender, dtype: int64

race
------------------------------
WHITE                                                       32074
UNKNOWN/NOT SPECIFIED                                        4236
BLACK/AFRICAN AMERICAN                                       3585
HISPANIC OR LATINO                                           1350
ASIAN                                                        1304
OTHER                                                        1256
UNABLE TO OBTAIN                                              792
PATIENT DECLINED TO ANSWER                                    498
ASIAN - CHINESE                                               223
BLACK/CAPE VERDEAN                                            159
HISPANIC/LATINO - PUERTO RICAN                                146
MULTI RACE ETHNICITY                                          111
WHITE - RUSSIAN                                               105
BLACK/HAITIAN                                                  71
WHITE - OTHER EUROPEAN                                         69
HISPANIC/LATINO - DOMINICAN                                    60
ASIAN - ASIAN INDIAN                                           57
AMERICAN INDIAN/ALASKA NATIVE                                  45
WHITE - BRAZILIAN                                              42
ASIAN - VIETNAMESE                                             41
PORTUGUESE                                                     36
BLACK/AFRICAN                                                  32
MIDDLE EASTERN                                                 28
HISPANIC/LATINO - GUATEMALAN                                   25
WHITE - EASTERN EUROPEAN                                       22
HISPANIC/LATINO - CUBAN                                        15
ASIAN - FILIPINO                                               15
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                      15
ASIAN - OTHER                                                  15
HISPANIC/LATINO - SALVADORAN                                   14
HISPANIC/LATINO - MEXICAN                                      11
ASIAN - KOREAN                                                 11
ASIAN - CAMBODIAN                                              10
HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)                      9
SOUTH AMERICAN                                                  8
HISPANIC/LATINO - COLOMBIAN                                     8
ASIAN - JAPANESE                                                7
CARIBBEAN ISLAND                                                7
ASIAN - THAI                                                    3
HISPANIC/LATINO - HONDURAN                                      3
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        2
Name: race, dtype: int64

In [6]:
from fleming_lib.utils import to_categorical, to_onehot

# one hot encoding
categorical_variables = ['gender', 'race']

# Convert categorical variable to 'categorical' type
meta = to_categorical(meta, categorical_variables)

In [7]:
# One-hot encode categorical variables
meta = to_onehot(meta, categorical_variables)

In [8]:
meta.iloc[:10]

,person_id,birth_datetime,gender_F,gender_M,race_AMERICAN INDIAN/ALASKA NATIVE,race_AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE,race_ASIAN,race_ASIAN - ASIAN INDIAN,race_ASIAN - CAMBODIAN,race_ASIAN - CHINESE,...,race_PATIENT DECLINED TO ANSWER,race_PORTUGUESE,race_SOUTH AMERICAN,race_UNABLE TO OBTAIN,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN
0,62065089,2107-06-29,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,62106569,2047-11-01,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,62073299,2190-04-23,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,62096906,2182-09-07,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,62102055,2087-02-28,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,62106786,2161-03-31,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,62083063,2125-12-16,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,62078234,2110-06-19,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,62065073,2074-05-27,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,62100837,2136-07-22,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
meta_names = meta.columns

### Extract measures

#### SQL requests

In [10]:
patient_id = 62063368  # person_id

In [11]:
query = """
select
    distinct m.person_id, m.measurement_datetime, m.measurement_concept_name, m.value_source_value, m.unit_source_value, d.death_datetime
from 
    measurement m 
left join 
    death d on d.person_id = m.person_id
where
    m.measurement_concept_id in
    (3022318,   -- heart_rhythm
     3024171,   -- respiratory_rate
     3028354,   -- vent_settings
     3012888,   -- diastolic_bp
     3027598,   -- map_bp
     3004249,   -- systolic_bp
     3027018,   -- heart_rate
     3020891,   -- temperature
     3016502,   -- spo2
     3020716,   -- fio2
     3032652    -- glasgow coma scale
    )
and m.person_id = {}
order by m.measurement_datetime
;""".format(patient_id)

measures = pd.read_sql_query(query, conn)

In [12]:
measures.iloc[:10]

,person_id,measurement_datetime,measurement_concept_name,value_source_value,unit_source_value,death_datetime
0,62063368,2188-11-12 10:00:00,Mean blood pressure,107.33300018310547,mmHg,2188-11-22 12:00:00
1,62063368,2188-11-12 10:00:00,Respiratory rate,38,BPM,2188-11-22 12:00:00
2,62063368,2188-11-12 10:00:00,Body temperature,36.388900756835938,Deg. C,2188-11-22 12:00:00
3,62063368,2188-11-12 10:00:00,Body temperature,97.5,Deg. F,2188-11-22 12:00:00
4,62063368,2188-11-12 10:00:00,BP diastolic,88,mmHg,2188-11-22 12:00:00
5,62063368,2188-11-12 10:00:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
6,62063368,2188-11-12 10:00:00,Oxygen saturation in Arterial blood,97,%,2188-11-22 12:00:00
7,62063368,2188-11-12 10:00:00,BP systolic,146,mmHg,2188-11-22 12:00:00
8,62063368,2188-11-12 10:30:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
9,62063368,2188-11-12 10:30:00,BP diastolic,95,mmHg,2188-11-22 12:00:00

#### Change type datetime

In [13]:
measures['death_datetime'] = pd.to_datetime(measures['death_datetime'])
measures['measurement_datetime'] = pd.to_datetime(measures['measurement_datetime'])
measures.iloc[:10]

,person_id,measurement_datetime,measurement_concept_name,value_source_value,unit_source_value,death_datetime
0,62063368,2188-11-12 10:00:00,Mean blood pressure,107.33300018310547,mmHg,2188-11-22 12:00:00
1,62063368,2188-11-12 10:00:00,Respiratory rate,38,BPM,2188-11-22 12:00:00
2,62063368,2188-11-12 10:00:00,Body temperature,36.388900756835938,Deg. C,2188-11-22 12:00:00
3,62063368,2188-11-12 10:00:00,Body temperature,97.5,Deg. F,2188-11-22 12:00:00
4,62063368,2188-11-12 10:00:00,BP diastolic,88,mmHg,2188-11-22 12:00:00
5,62063368,2188-11-12 10:00:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
6,62063368,2188-11-12 10:00:00,Oxygen saturation in Arterial blood,97,%,2188-11-22 12:00:00
7,62063368,2188-11-12 10:00:00,BP systolic,146,mmHg,2188-11-22 12:00:00
8,62063368,2188-11-12 10:30:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
9,62063368,2188-11-12 10:30:00,BP diastolic,95,mmHg,2188-11-22 12:00:00

#### Add target value (y)

In [14]:
from fleming_lib.metrics import add_target

In [15]:
measures = add_target(measures)

#### Row to columns

In [16]:
measures = measures.pivot_table(index=['measurement_datetime','target','person_id'], columns='measurement_concept_name', values='value_source_value', aggfunc='first')
measures.iloc[:10]

,,measurement_concept_name,BP diastolic,BP systolic,Body temperature,Heart rate,Heart rate rhythm,Mean blood pressure,Mean pressure Respiratory system airway Calculated,Oxygen concentration breathed,Oxygen saturation in Arterial blood,Respiratory rate
measurement_datetime,target,person_id,,,,,,,,,,
2188-11-12 10:00:00,0,62063368,88,146,36.388900756835938,None,Sinus Tachy,107.33300018310547,None,None,97,38
2188-11-12 10:30:00,0,62063368,95,140,None,134,Sinus Tachy,110,None,None,98,34
2188-11-12 10:45:00,0,62063368,97,144,None,134,Sinus Tachy,112.66699981689453,None,None,97,41
2188-11-12 11:00:00,0,62063368,91,140,None,134,Sinus Tachy,107.33300018310547,None,None,99,40
2188-11-12 12:00:00,0,62063368,98,139,36.444400787353516,135,Sinus Tachy,111.66699981689453,None,None,95,38
2188-11-12 13:00:00,0,62063368,108,158,36.666698455810547,134,Sinus Tachy,124.66699981689453,None,.44999998807907104,93,32
2188-11-12 13:03:00,0,62063368,None,None,36.7,None,None,None,None,None,None,None
2188-11-12 13:30:00,0,62063368,105,159,None,134,Sinus Tachy,123,None,.5,97,31
2188-11-12 14:00:00,0,62063368,107,157,None,137,Sinus Tachy,123.66699981689453,None,.5,98,34
2188-11-12 14:45:00,0,62063368,101,149,None,147,Sinus Tachy,117,None,None,98,42

#### Change type to float

In [17]:
measures.reset_index(inplace=True)
measures.columns.name = None
measures[['BP diastolic','BP systolic','Body temperature','Heart rate','Mean blood pressure','Oxygen saturation in Arterial blood','Respiratory rate']] = measures[['BP diastolic','BP systolic','Body temperature','Heart rate','Mean blood pressure','Oxygen saturation in Arterial blood','Respiratory rate']].apply(pd.to_numeric, errors='ignore')

#### Add meta data

In [18]:
idx = (meta['person_id'] == patient_id)
meta[idx][meta_names]

,person_id,birth_datetime,gender_F,gender_M,race_AMERICAN INDIAN/ALASKA NATIVE,race_AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE,race_ASIAN,race_ASIAN - ASIAN INDIAN,race_ASIAN - CAMBODIAN,race_ASIAN - CHINESE,...,race_PATIENT DECLINED TO ANSWER,race_PORTUGUESE,race_SOUTH AMERICAN,race_UNABLE TO OBTAIN,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN
43816,62063368,2164-12-27,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# Copy measures into 'data' dataframe
data = measures.copy(deep=True)

# Add meta
for name in meta_names:
    data[name] = meta[idx][name].values.squeeze()

In [20]:
data.iloc[:10]

,measurement_datetime,target,person_id,BP diastolic,BP systolic,Body temperature,Heart rate,Heart rate rhythm,Mean blood pressure,Mean pressure Respiratory system airway Calculated,...,race_PATIENT DECLINED TO ANSWER,race_PORTUGUESE,race_SOUTH AMERICAN,race_UNABLE TO OBTAIN,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN
0,2188-11-12 10:00:00,0,62063368,88.0,146.0,36.388901,NaN,Sinus Tachy,107.33300018310547,None,...,0,0,0,0,0,0,0,0,0,0
1,2188-11-12 10:30:00,0,62063368,95.0,140.0,NaN,134.0,Sinus Tachy,110,None,...,0,0,0,0,0,0,0,0,0,0
2,2188-11-12 10:45:00,0,62063368,97.0,144.0,NaN,134.0,Sinus Tachy,112.66699981689453,None,...,0,0,0,0,0,0,0,0,0,0
3,2188-11-12 11:00:00,0,62063368,91.0,140.0,NaN,134.0,Sinus Tachy,107.33300018310547,None,...,0,0,0,0,0,0,0,0,0,0
4,2188-11-12 12:00:00,0,62063368,98.0,139.0,36.444401,135.0,Sinus Tachy,111.66699981689453,None,...,0,0,0,0,0,0,0,0,0,0
5,2188-11-12 13:00:00,0,62063368,108.0,158.0,36.666698,134.0,Sinus Tachy,124.66699981689453,None,...,0,0,0,0,0,0,0,0,0,0
6,2188-11-12 13:03:00,0,62063368,NaN,NaN,36.700000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,0
7,2188-11-12 13:30:00,0,62063368,105.0,159.0,NaN,134.0,Sinus Tachy,123,None,...,0,0,0,0,0,0,0,0,0,0
8,2188-11-12 14:00:00,0,62063368,107.0,157.0,NaN,137.0,Sinus Tachy,123.66699981689453,None,...,0,0,0,0,0,0,0,0,0,0
9,2188-11-12 14:45:00,0,62063368,101.0,149.0,NaN,147.0,Sinus Tachy,117,None,...,0,0,0,0,0,0,0,0,0,0

In [21]:
categorical_variables = ['Heart rate rhythm']

# Convert categorical variable to 'categorical' type
data = to_categorical(data, categorical_variables)

In [22]:
# One-hot encode categorical variables
data = to_onehot(data, categorical_variables)

In [23]:
data.iloc[:10]

,measurement_datetime,target,person_id,BP diastolic,BP systolic,Body temperature,Heart rate,Mean blood pressure,Mean pressure Respiratory system airway Calculated,Oxygen concentration breathed,...,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN,Heart rate rhythm_Idioventricular,Heart rate rhythm_Normal Sinus,Heart rate rhythm_Sinus Brady,Heart rate rhythm_Sinus Tachy
0,2188-11-12 10:00:00,0,62063368,88.0,146.0,36.388901,NaN,107.33300018310547,None,None,...,0,0,0,0,0,0,0,0,0,1
1,2188-11-12 10:30:00,0,62063368,95.0,140.0,NaN,134.0,110,None,None,...,0,0,0,0,0,0,0,0,0,1
2,2188-11-12 10:45:00,0,62063368,97.0,144.0,NaN,134.0,112.66699981689453,None,None,...,0,0,0,0,0,0,0,0,0,1
3,2188-11-12 11:00:00,0,62063368,91.0,140.0,NaN,134.0,107.33300018310547,None,None,...,0,0,0,0,0,0,0,0,0,1
4,2188-11-12 12:00:00,0,62063368,98.0,139.0,36.444401,135.0,111.66699981689453,None,None,...,0,0,0,0,0,0,0,0,0,1
5,2188-11-12 13:00:00,0,62063368,108.0,158.0,36.666698,134.0,124.66699981689453,None,.44999998807907104,...,0,0,0,0,0,0,0,0,0,1
6,2188-11-12 13:03:00,0,62063368,NaN,NaN,36.700000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,0
7,2188-11-12 13:30:00,0,62063368,105.0,159.0,NaN,134.0,123,None,.5,...,0,0,0,0,0,0,0,0,0,1
8,2188-11-12 14:00:00,0,62063368,107.0,157.0,NaN,137.0,123.66699981689453,None,.5,...,0,0,0,0,0,0,0,0,0,1
9,2188-11-12 14:45:00,0,62063368,101.0,149.0,NaN,147.0,117,None,None,...,0,0,0,0,0,0,0,0,0,1

#### Compute age

In [24]:
from fleming_lib.metrics import add_age, add_rolling_avg

In [25]:
data = add_age(data)

In [26]:
data.iloc[:10]

,measurement_datetime,target,person_id,BP diastolic,BP systolic,Body temperature,Heart rate,Mean blood pressure,Mean pressure Respiratory system airway Calculated,Oxygen concentration breathed,...,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN,Heart rate rhythm_Idioventricular,Heart rate rhythm_Normal Sinus,Heart rate rhythm_Sinus Brady,Heart rate rhythm_Sinus Tachy,age
0,2188-11-12 10:00:00,0,62063368,88.0,146.0,36.388901,NaN,107.33300018310547,None,None,...,0,0,0,0,0,0,0,0,1,23.9
1,2188-11-12 10:30:00,0,62063368,95.0,140.0,NaN,134.0,110,None,None,...,0,0,0,0,0,0,0,0,1,23.9
2,2188-11-12 10:45:00,0,62063368,97.0,144.0,NaN,134.0,112.66699981689453,None,None,...,0,0,0,0,0,0,0,0,1,23.9
3,2188-11-12 11:00:00,0,62063368,91.0,140.0,NaN,134.0,107.33300018310547,None,None,...,0,0,0,0,0,0,0,0,1,23.9
4,2188-11-12 12:00:00,0,62063368,98.0,139.0,36.444401,135.0,111.66699981689453,None,None,...,0,0,0,0,0,0,0,0,1,23.9
5,2188-11-12 13:00:00,0,62063368,108.0,158.0,36.666698,134.0,124.66699981689453,None,.44999998807907104,...,0,0,0,0,0,0,0,0,1,23.9
6,2188-11-12 13:03:00,0,62063368,NaN,NaN,36.700000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,23.9
7,2188-11-12 13:30:00,0,62063368,105.0,159.0,NaN,134.0,123,None,.5,...,0,0,0,0,0,0,0,0,1,23.9
8,2188-11-12 14:00:00,0,62063368,107.0,157.0,NaN,137.0,123.66699981689453,None,.5,...,0,0,0,0,0,0,0,0,1,23.9
9,2188-11-12 14:45:00,0,62063368,101.0,149.0,NaN,147.0,117,None,None,...,0,0,0,0,0,0,0,0,1,23.9

### Data enhancement

#### Add rolling mean

In [28]:
data = add_rolling_avg(data, 'Respiratory rate', window=2)

data.iloc[:10]

,measurement_datetime,target,person_id,BP diastolic,BP systolic,Body temperature,Heart rate,Mean blood pressure,Mean pressure Respiratory system airway Calculated,Oxygen concentration breathed,...,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN,Heart rate rhythm_Idioventricular,Heart rate rhythm_Normal Sinus,Heart rate rhythm_Sinus Brady,Heart rate rhythm_Sinus Tachy,age,Respiratory rate avg h-2
0,2188-11-12 10:00:00,0,62063368,88.0,146.0,36.388901,NaN,107.33300018310547,None,None,...,0,0,0,0,0,0,0,1,23.9,NaN
1,2188-11-12 10:30:00,0,62063368,95.0,140.0,NaN,134.0,110,None,None,...,0,0,0,0,0,0,0,1,23.9,38.000000
2,2188-11-12 10:45:00,0,62063368,97.0,144.0,NaN,134.0,112.66699981689453,None,None,...,0,0,0,0,0,0,0,1,23.9,36.000000
3,2188-11-12 11:00:00,0,62063368,91.0,140.0,NaN,134.0,107.33300018310547,None,None,...,0,0,0,0,0,0,0,1,23.9,37.666667
4,2188-11-12 12:00:00,0,62063368,98.0,139.0,36.444401,135.0,111.66699981689453,None,None,...,0,0,0,0,0,0,0,1,23.9,38.250000
5,2188-11-12 13:00:00,0,62063368,108.0,158.0,36.666698,134.0,124.66699981689453,None,.44999998807907104,...,0,0,0,0,0,0,0,1,23.9,39.000000
6,2188-11-12 13:03:00,0,62063368,NaN,NaN,36.700000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,23.9,35.000000
7,2188-11-12 13:30:00,0,62063368,105.0,159.0,NaN,134.0,123,None,.5,...,0,0,0,0,0,0,0,1,23.9,35.000000
8,2188-11-12 14:00:00,0,62063368,107.0,157.0,NaN,137.0,123.66699981689453,None,.5,...,0,0,0,0,0,0,0,1,23.9,33.666667
9,2188-11-12 14:45:00,0,62063368,101.0,149.0,NaN,147.0,117,None,None,...,0,0,0,0,0,0,0,1,23.9,32.333333

### Create Dataset

In [26]:
import time

from fleming_lib.metrics import add_rolling_avg, add_target, add_age
from fleming_lib.utils import to_categorical, to_onehot


def create_dataset(list_patients, verbose=False):
    """Create list of dataset given a list of patients.
    
    Parameters
    ----------
    list_patients : list of int
        List of patients ID.
    verbose : bool
        Verbosity level.
    
    Returns
    -------
    frame : list of pd.DataFrame
        List of datasets, each corresponding to a patient.
    """
    t0 = time.time()
    frame = []
    
    if not isinstance(list_patients, list):
        list_patients = [list_patients]
        
    n_patients = len(list_patients)
    
    # Meta data
    if verbose:
        msg = 'Extracting meta data...'
        delta_t = str(int(time.time() - t0)) + ' s'
        print('{:100s} [{:10s}]'.format(msg, delta_t), end='\r')
            
    query = """
    select
        distinct p.person_id, p.gender_source_value gender, p.race_source_value race, p.birth_datetime
    from
        person p
        ;"""

    meta = pd.read_sql_query(query, conn)

    # Convert categorical variable to 'categorical' type
    categorical_variables = ['gender', 'race']
    meta = to_categorical(meta, categorical_variables)
    meta = to_onehot(meta, categorical_variables)
    # One-hot column names
    meta_names = meta.columns
    
    
    for i, patient in enumerate(list_patients):
        if verbose:
            base_msg = 'Patient {} [{}/{}]'.format(patient, i+1, n_patients)
            msg = base_msg
            delta_t = str(int(time.time() - t0)) + ' s'
            print('{:100s} [{:10s}]'.format(msg, delta_t), end='\r')
        
        # Measures
        if verbose:
            add_msg = 'Extracting measures...'
            msg = base_msg + ' - ' + add_msg
            delta_t = str(int(time.time() - t0)) + ' s'
            print('{:100s} [{:10s}]'.format(msg, delta_t), end='\r')
            
        query = """
        select
            distinct m.person_id, m.measurement_datetime, m.measurement_concept_name, m.value_source_value, m.unit_source_value, d.death_datetime
        from 
            measurement m 
        left join 
            death d on d.person_id = m.person_id
        where
            measurement_concept_id IN
            (3022318,   -- heart_rhythm
             3024171,   -- respiratory_rate
             3028354,   -- vent_settings
             3012888,   -- diastolic_bp
             3027598,   -- map_bp
             3004249,   -- systolic_bp
             3027018,   -- heart_rate
             3020891,   -- temperature
             3016502,   -- spo2
             3020716,   -- fio2
             3032652    -- glasgow coma scale
            )
        and m.person_id = {}
        order by measurement_datetime
            ;""".format(patient)

        df = pd.read_sql_query(query, conn)

        if verbose:
            add_msg = 'Formatting data...'
            msg = base_msg + ' - ' + add_msg
            delta_t = str(int(time.time() - t0)) + ' s'
            print('{:100s} [{:10s}]'.format(msg, delta_t), end='\r')

        df['death_datetime'] = pd.to_datetime(df['death_datetime'])
        df['measurement_datetime'] = pd.to_datetime(df['measurement_datetime'])

        df = add_target(df)

        df = df.pivot_table(index= ['measurement_datetime','target','person_id'], columns='measurement_concept_name', values='value_source_value', aggfunc='first')
        df.reset_index(inplace=True)
        df.columns.name = None
        df[['BP diastolic','BP systolic','Body temperature','Heart rate','Mean blood pressure','Oxygen saturation in Arterial blood','Respiratory rate']] = df[['BP diastolic','BP systolic','Body temperature','Heart rate','Mean blood pressure','Oxygen saturation in Arterial blood','Respiratory rate']].apply(pd.to_numeric, errors='ignore')
        
        # Convert 'Heart rate rhythm' to categorical and one-hot encode it
        categorical_variables = ['Heart rate rhythm']
        df = to_categorical(df, categorical_variables)
        df = to_onehot(df, categorical_variables)
        
        # Add meta data to measures
        if verbose:
            add_msg = 'Adding meta data...'
            msg = base_msg + ' - ' + add_msg
            delta_t = str(int(time.time() - t0)) + ' s'
            print('{:100s} [{:10s}]'.format(msg, delta_t), end='\r')
            
        meta_idx = (meta['person_id'] == patient)
        for meta_name in meta_names:
            df[meta_name] = meta[meta_idx][meta_name].values.squeeze()
            
        df = add_age(df, round_to_dec=1)
        
        # Add additional features
        if verbose:
            add_msg = 'Adding additional features...'
            msg = base_msg + ' - ' + add_msg
            delta_t = str(int(time.time() - t0)) + ' s'
            print('{:100s} [{:10s}]'.format(msg, delta_t), end='\r')
        
        df = add_rolling_avg(df, 'Respiratory rate', window=2)
        
        frame.append(df)
        
        if verbose:
            msg = 'Patient {} done.'.format(patient)
            delta_t = str(int(time.time() - t0)) + ' s'
            print('{:100s} [{:10s}]'.format(msg, delta_t), end='\r')
            print('')
    
    return frame

### Example on a patient who indeed died

In [21]:
query = """SELECT * FROM death LIMIT 10;"""
df = pd.read_sql_query(query, conn)

In [22]:
df

,person_id,death_date,death_datetime,death_type_concept_id,cause_concept_id,cause_source_value,cause_source_concept_id
0,62063368,2188-11-22,2188-11-22 12:00:00,38003569,None,None,None
1,62063384,2198-02-18,2198-02-18 03:55:00,38003569,None,None,None
2,62063393,2182-07-31,2182-07-31 06:45:00,38003569,None,None,None
3,62063403,2145-03-19,2145-03-19 07:00:00,38003569,None,None,None
4,62063425,2156-08-26,2156-08-26 12:00:00,38003569,None,None,None
5,62063429,2182-02-28,2182-02-28 14:50:00,38003569,None,None,None
6,62063436,2147-11-11,2147-11-11 22:57:00,38003569,None,None,None
7,62063437,2171-06-27,2171-06-27 17:10:00,38003569,None,None,None
8,62063444,2123-07-16,2123-07-16 23:19:00,38003569,None,None,None
9,62063447,2129-12-20,2129-12-20 01:37:00,38003569,None,None,None

In [27]:
dataset = create_dataset(62063368, verbose=True)

Falsent 62063368 [1/1] - Extracting measures...                                                      [11 s      ]

Falsent 62063368 [1/1] - Formatting data...                                                          [13 s      ]

Falsent 62063368 [1/1] - Adding meta data...                                                         [13 s      ]

Falsent 62063368 [1/1] - Adding additional features...                                               [13 s      ]

Patient 62063368 done.                                                                               [14 s      ]

In [28]:
dataset[0]

,measurement_datetime,target,person_id,BP diastolic,BP systolic,Body temperature,Heart rate,Mean blood pressure,Mean pressure Respiratory system airway Calculated,Oxygen concentration breathed,...,race_SOUTH AMERICAN,race_UNABLE TO OBTAIN,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN,age,Respiratory rate avg h-2
0,2188-11-12 10:00:00,0,62063368,88.0,146.0,36.388901,NaN,107.33300018310547,None,None,...,0,0,0,0,0,0,0,0,23.9,NaN
1,2188-11-12 10:30:00,0,62063368,95.0,140.0,NaN,134.0,110,None,None,...,0,0,0,0,0,0,0,0,23.9,38.000000
2,2188-11-12 10:45:00,0,62063368,97.0,144.0,NaN,134.0,112.66699981689453,None,None,...,0,0,0,0,0,0,0,0,23.9,36.000000
3,2188-11-12 11:00:00,0,62063368,91.0,140.0,NaN,134.0,107.33300018310547,None,None,...,0,0,0,0,0,0,0,0,23.9,37.666667
4,2188-11-12 12:00:00,0,62063368,98.0,139.0,36.444401,135.0,111.66699981689453,None,None,...,0,0,0,0,0,0,0,0,23.9,38.250000
5,2188-11-12 13:00:00,0,62063368,108.0,158.0,36.666698,134.0,124.66699981689453,None,.44999998807907104,...,0,0,0,0,0,0,0,0,23.9,39.000000
6,2188-11-12 13:03:00,0,62063368,NaN,NaN,36.700000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,23.9,35.000000
7,2188-11-12 13:30:00,0,62063368,105.0,159.0,NaN,134.0,123,None,.5,...,0,0,0,0,0,0,0,0,23.9,35.000000
8,2188-11-12 14:00:00,0,62063368,107.0,157.0,NaN,137.0,123.66699981689453,None,.5,...,0,0,0,0,0,0,0,0,23.9,33.666667
9,2188-11-12 14:45:00,0,62063368,101.0,149.0,NaN,147.0,117,None,None,...,0,0,0,0,0,0,0,0,23.9,32.333333
10,2188-11-12 15:00:00,0,62063368,100.0,147.0,NaN,146.0,115.66699981689453,None,None,...,0,0,0,0,0,0,0,0,23.9,34.750000
11,2188-11-12 15:30:00,0,62063368,110.0,154.0,NaN,144.0,124.66699981689453,None,None,...,0,0,0,0,0,0,0,0,23.9,36.750000
12,2188-11-12 16:00:00,0,62063368,122.0,171.0,NaN,134.0,138.33299255371094,None,None,...,0,0,0,0,0,0,0,0,23.9,38.750000
13,2188-11-12 16:10:00,0,62063368,NaN,NaN,NaN,NaN,None,21,1,...,0,0,0,0,0,0,0,0,23.9,39.250000
14,2188-11-12 17:00:00,0,62063368,62.0,116.0,NaN,142.0,94,None,None,...,0,0,0,0,0,0,0,0,23.9,34.500000
15,2188-11-12 18:00:00,0,62063368,84.0,136.0,NaN,129.0,102,None,.60000002384185791,...,0,0,0,0,0,0,0,0,23.9,25.666667
16,2188-11-12 18:15:00,0,62063368,70.0,122.0,NaN,127.0,88,None,None,...,0,0,0,0,0,0,0,0,23.9,19.500000
17,2188-11-12 18:30:00,0,62063368,62.0,109.0,NaN,127.0,78,None,None,...,0,0,0,0,0,0,0,0,23.9,21.333333
18,2188-11-12 19:00:00,0,62063368,79.0,130.0,NaN,123.0,95,None,None,...,0,0,0,0,0,0,0,0,23.9,22.000000
19,2188-11-12 20:00:00,0,62063368,61.0,109.0,37.944401,135.0,77,None,None,...,0,0,0,0,0,0,0,0,23.9,21.750000
20,2188-11-12 20:36:00,0,62063368,NaN,NaN,37.900000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,23.9,20.000000
21,2188-11-12 21:00:00,0,62063368,73.0,125.0,NaN,135.0,90,None,None,...,0,0,0,0,0,0,0,0,23.9,16.666667
22,2188-11-12 21:16:00,0,62063368,NaN,NaN,NaN,NaN,None,21,.60000002384185791,...,0,0,0,0,0,0,0,0,23.9,19.000000
23,2188-11-12 22:00:00,0,62063368,79.0,134.0,102.199997,137.0,97,None,None,...,0,0,0,0,0,0,0,0,23.9,15.500000
24,2188-11-12 22:04:00,0,62063368,NaN,NaN,37.800000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,23.9,16.250000
25,2188-11-12 23:00:00,0,62063368,82.0,135.0,NaN,151.0,99,23,1,...,0,0,0,0,0,0,0,0,23.9,15.416667
26,2188-11-12 23:37:00,0,62063368,NaN,NaN,39.000000,NaN,None,None,86,...,0,0,0,0,0,0,0,0,23.9,11.555556
27,2188-11-13 00:00:00,0,62063368,61.0,102.0,38.666698,147.0,75,None,None,...,0,0,0,0,0,0,0,0,23.9,16.166667
28,2188-11-13 00:30:00,0,62063368,62.0,98.0,NaN,140.0,74,None,None,...,0,0,0,0,0,0,0,0,23.9,22.666667
29,2188-11-13 01:00:00,0,62063368,77.0,121.0,NaN,141.0,92,None,None,...,0,0,0,0,0,0,0,0,23.9,26.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,2188-11-22 11:06:00,0,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,23.9,5.666667
524,2188-11-22 11:30:00,0,62063368,72.0,85.0,35.700001,96.0,76,None,None,...,0,0,0,0,0,0,0,0,23.9,5.666667
525,2188-11-22 12:00:00,1,62063368,75.0,83.0,35.799999,99.0,78,27,.60000002384185791,...,0,0,0,0,0,0,0,0,23.9,5.500000
526,2188-11-22 12:30:00,1,62063368,71.0,83.0,36.000000,96.0,72,None,None,...,0,0,0,0,0,0,0,0,23.9,8.000000
527,2188-11-22 12:45:00,1,62063368,NaN,NaN,NaN,NaN,None,None,1,...,0,0,0,0,0,0,0,0,23.9,8.750000
528,2188-11-22 13:00:00,1,62063368,77.0,93.0,96.800003,91.0,82,None,None,...,0,0,0,0,0,0,0,0,23.9,8.750000
529,2188-11-22 13:26:00,1,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,23.9,8.750000
530,2188-11-22 13:30:00,1,62063368,81.0,101.0,NaN,94.0,87,None,None,...,0,0,0,0,0,0,0,0,23.9,8.750000
531,2188-11-22 14:00:00,1,62063368,81.0,104.0,96.800003,88.0,89,None,None,...,0,0,0,0,0,0,0,0,23.9,7.500000
532,2188-11-22 14:10:00,1,62063368,NaN,NaN,NaN,NaN,None,29,1,...,0,0,0,0,0,0,0,0,23.9,7.500000
533,2188-11-22 15:00:00,1,62063368,49.0,61.0,96.800003,99.0,52,None,None,...,0,0,0,0,0,0,0,0,23.9,6.666667
534,2188-11-22 15:10:00,1,62063368,NaN,NaN,NaN,NaN,None,40,1,...,0,0,0,0,0,0,0,0,23.9,8.333333
535,2188-11-22 15:15:00,1,62063368,53.0,74.0,NaN,103.0,61,None,None,...,0,0,0,0,0,0,0,0,23.9,11.000000
536,2188-11-22 15:25:00,1,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,23.9,12.800000
537,2188-11-22 15:30:00,1,62063368,60.0,117.0,NaN,100.0,74,None,None,...,0,0,0,0,0,0,0,0,23.9,12.800000
538,2188-11-22 15:38:00,1,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,23.9,12.800000
539,2188-11-22 15:45:00,1,62063368,43.0,82.0,NaN,86.0,53,None,None,...,0,0,0,0,0,0,0,0,23.9,12.800000
540,2188-11-22 16:00:00,1,62063368,48.0,96.0,NaN,107.0,59,40,1,...,0,0,0,0,0,0,0,0,23.9,14.166667
541,2188-11-22 16:05:00,1,62063368,39.0,80.0,NaN,73.0,48,None,None,...,0,0,0,0,0,0,0,0,23.9,16.000000
542,2188-11-22 16:15:00,1,62063368,46.0,87.0,NaN,113.0,56,None,None,...,0,0,0,0,0,0,0,0,23.9,17.571429
543,2188-11-22 16:19:00,1,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,23.9,18.750000
544,2188-11-22 16:30:00,1,62063368,NaN,NaN,35.799999,NaN,None,None,None,...,0,0,0,0,0,0,0,0,23.9,18.750000
545,2188-11-22 17:00:00,1,62063368,56.0,104.0,96.260002,134.0,69,42,1,...,0,0,0,0,0,0,0,0,23.9,18.750000
546,2188-11-22 17:26:00,1,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,23.9,20.500000
547,2188-11-22 17:30:00,1,62063368,36.0,61.0,NaN,96.0,43,None,None,...,0,0,0,0,0,0,0,0,23.9,20.500000
548,2188-11-22 18:00:00,1,62063368,38.0,51.0,37.799999,99.0,42,None,None,...,0,0,0,0,0,0,0,0,23.9,25.800000
549,2188-11-22 18:30:00,1,62063368,55.0,74.0,98.599998,142.0,61,None,None,...,0,0,0,0,0,0,0,0,23.9,28.333333
550,2188-11-22 18:45:00,1,62063368,46.0,60.0,NaN,124.0,51,None,None,...,0,0,0,0,0,0,0,0,23.9,28.500000
551,2188-11-22 19:00:00,1,62063368,0.0,0.0,NaN,0.0,26,None,None,...,0,0,0,0,0,0,0,0,23.9,28.200000
552,2188-11-22 19:16:00,1,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,23.9,28.200000

#### Export the dataset

In [ ]:
# pd.concat(dataset).to_csv('dataset_omop', sep='\t', encoding='utf-8', index=False)

Export each dataframe dataset corresponding a given patient to CSV format.

In [37]:
for df in dataset:
    patient_id = df['person_id'][0]
    fname = 'dataset_omop_{}'.format(patient_id)
    df.to_csv(fname, sep='\t', encoding='utf-8', index=False)

Import each dataset corresponding a given patient from CSV format to dataframe.

In [38]:
df = pd.read_csv(fname, sep='\t', encoding='utf-8')

In [39]:
df

,measurement_datetime,target,person_id,BP diastolic,BP systolic,Body temperature,Heart rate,Mean blood pressure,Mean pressure Respiratory system airway Calculated,Oxygen concentration breathed,...,race_SOUTH AMERICAN,race_UNABLE TO OBTAIN,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN,age,Respiratory rate avg h-2
0,2188-11-12 10:00:00,0,62063368,88.0,146.0,36.388901,NaN,107.33300018310547,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,NaN
1,2188-11-12 10:30:00,0,62063368,95.0,140.0,NaN,134.0,110,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,38.000000
2,2188-11-12 10:45:00,0,62063368,97.0,144.0,NaN,134.0,112.66699981689453,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,36.000000
3,2188-11-12 11:00:00,0,62063368,91.0,140.0,NaN,134.0,107.33300018310547,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,37.666667
4,2188-11-12 12:00:00,0,62063368,98.0,139.0,36.444401,135.0,111.66699981689453,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,38.250000
5,2188-11-12 13:00:00,0,62063368,108.0,158.0,36.666698,134.0,124.66699981689453,NaN,0.45,...,0,0,0,0,0,0,0,0,23.9,39.000000
6,2188-11-12 13:03:00,0,62063368,NaN,NaN,36.700000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,35.000000
7,2188-11-12 13:30:00,0,62063368,105.0,159.0,NaN,134.0,123,NaN,0.50,...,0,0,0,0,0,0,0,0,23.9,35.000000
8,2188-11-12 14:00:00,0,62063368,107.0,157.0,NaN,137.0,123.66699981689453,NaN,0.50,...,0,0,0,0,0,0,0,0,23.9,33.666667
9,2188-11-12 14:45:00,0,62063368,101.0,149.0,NaN,147.0,117,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,32.333333
10,2188-11-12 15:00:00,0,62063368,100.0,147.0,NaN,146.0,115.66699981689453,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,34.750000
11,2188-11-12 15:30:00,0,62063368,110.0,154.0,NaN,144.0,124.66699981689453,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,36.750000
12,2188-11-12 16:00:00,0,62063368,122.0,171.0,NaN,134.0,138.33299255371094,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,38.750000
13,2188-11-12 16:10:00,0,62063368,NaN,NaN,NaN,NaN,NaN,21.0,1.00,...,0,0,0,0,0,0,0,0,23.9,39.250000
14,2188-11-12 17:00:00,0,62063368,62.0,116.0,NaN,142.0,94,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,34.500000
15,2188-11-12 18:00:00,0,62063368,84.0,136.0,NaN,129.0,102,NaN,0.60,...,0,0,0,0,0,0,0,0,23.9,25.666667
16,2188-11-12 18:15:00,0,62063368,70.0,122.0,NaN,127.0,88,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,19.500000
17,2188-11-12 18:30:00,0,62063368,62.0,109.0,NaN,127.0,78,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,21.333333
18,2188-11-12 19:00:00,0,62063368,79.0,130.0,NaN,123.0,95,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,22.000000
19,2188-11-12 20:00:00,0,62063368,61.0,109.0,37.944401,135.0,77,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,21.750000
20,2188-11-12 20:36:00,0,62063368,NaN,NaN,37.900000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,20.000000
21,2188-11-12 21:00:00,0,62063368,73.0,125.0,NaN,135.0,90,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,16.666667
22,2188-11-12 21:16:00,0,62063368,NaN,NaN,NaN,NaN,NaN,21.0,0.60,...,0,0,0,0,0,0,0,0,23.9,19.000000
23,2188-11-12 22:00:00,0,62063368,79.0,134.0,102.199997,137.0,97,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,15.500000
24,2188-11-12 22:04:00,0,62063368,NaN,NaN,37.800000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,16.250000
25,2188-11-12 23:00:00,0,62063368,82.0,135.0,NaN,151.0,99,23.0,1.00,...,0,0,0,0,0,0,0,0,23.9,15.416667
26,2188-11-12 23:37:00,0,62063368,NaN,NaN,39.000000,NaN,NaN,NaN,86.00,...,0,0,0,0,0,0,0,0,23.9,11.555556
27,2188-11-13 00:00:00,0,62063368,61.0,102.0,38.666698,147.0,75,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,16.166667
28,2188-11-13 00:30:00,0,62063368,62.0,98.0,NaN,140.0,74,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,22.666667
29,2188-11-13 01:00:00,0,62063368,77.0,121.0,NaN,141.0,92,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,26.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,2188-11-22 11:06:00,0,62063368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,5.666667
524,2188-11-22 11:30:00,0,62063368,72.0,85.0,35.700001,96.0,76,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,5.666667
525,2188-11-22 12:00:00,1,62063368,75.0,83.0,35.799999,99.0,78,27.0,0.60,...,0,0,0,0,0,0,0,0,23.9,5.500000
526,2188-11-22 12:30:00,1,62063368,71.0,83.0,36.000000,96.0,72,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,8.000000
527,2188-11-22 12:45:00,1,62063368,NaN,NaN,NaN,NaN,NaN,NaN,1.00,...,0,0,0,0,0,0,0,0,23.9,8.750000
528,2188-11-22 13:00:00,1,62063368,77.0,93.0,96.800003,91.0,82,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,8.750000
529,2188-11-22 13:26:00,1,62063368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,8.750000
530,2188-11-22 13:30:00,1,62063368,81.0,101.0,NaN,94.0,87,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,8.750000
531,2188-11-22 14:00:00,1,62063368,81.0,104.0,96.800003,88.0,89,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,7.500000
532,2188-11-22 14:10:00,1,62063368,NaN,NaN,NaN,NaN,NaN,29.0,1.00,...,0,0,0,0,0,0,0,0,23.9,7.500000
533,2188-11-22 15:00:00,1,62063368,49.0,61.0,96.800003,99.0,52,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,6.666667
534,2188-11-22 15:10:00,1,62063368,NaN,NaN,NaN,NaN,NaN,40.0,1.00,...,0,0,0,0,0,0,0,0,23.9,8.333333
535,2188-11-22 15:15:00,1,62063368,53.0,74.0,NaN,103.0,61,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,11.000000
536,2188-11-22 15:25:00,1,62063368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,12.800000
537,2188-11-22 15:30:00,1,62063368,60.0,117.0,NaN,100.0,74,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,12.800000
538,2188-11-22 15:38:00,1,62063368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,12.800000
539,2188-11-22 15:45:00,1,62063368,43.0,82.0,NaN,86.0,53,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,12.800000
540,2188-11-22 16:00:00,1,62063368,48.0,96.0,NaN,107.0,59,40.0,1.00,...,0,0,0,0,0,0,0,0,23.9,14.166667
541,2188-11-22 16:05:00,1,62063368,39.0,80.0,NaN,73.0,48,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,16.000000
542,2188-11-22 16:15:00,1,62063368,46.0,87.0,NaN,113.0,56,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,17.571429
543,2188-11-22 16:19:00,1,62063368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,18.750000
544,2188-11-22 16:30:00,1,62063368,NaN,NaN,35.799999,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,18.750000
545,2188-11-22 17:00:00,1,62063368,56.0,104.0,96.260002,134.0,69,42.0,1.00,...,0,0,0,0,0,0,0,0,23.9,18.750000
546,2188-11-22 17:26:00,1,62063368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,20.500000
547,2188-11-22 17:30:00,1,62063368,36.0,61.0,NaN,96.0,43,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,20.500000
548,2188-11-22 18:00:00,1,62063368,38.0,51.0,37.799999,99.0,42,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,25.800000
549,2188-11-22 18:30:00,1,62063368,55.0,74.0,98.599998,142.0,61,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,28.333333
550,2188-11-22 18:45:00,1,62063368,46.0,60.0,NaN,124.0,51,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,28.500000
551,2188-11-22 19:00:00,1,62063368,0.0,0.0,NaN,0.0,26,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,28.200000
552,2188-11-22 19:16:00,1,62063368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,23.9,28.200000