# OMOP Create Dataset

In [1]:
# Get your credentials
import numpy as np
omop_login = np.load('full_omop_login.npy').item()

# Open a connection to OMOP
from fleming_lib.tools import connect_to_omop
conn = connect_to_omop(login_dict=omop_login)

# Get ready for SQL query processing
import pandas as pd
import datetime

## Select list of patients

### SQL requests


- not be "limited" (Concept_id: 2001018843 and 2001030812 and 4127294)

In [2]:
query = """
select
    distinct person_id
from 
    measurement 
where 
    measurement_source_concept_id in (2001018843, 2001030812, 4127294)  
    ;"""

limitation = pd.read_sql_query(query, conn)

- Age >= 15 
- Processed only by intensive care unit

In [3]:
# in ICU
query = """
with icu as (
    select
        care_site_id, care_site_name, place_of_service_source_value
    from
        care_site
    where
        lower(place_of_service_source_value) like '%intensive%'     -- selecting ICUs
    and
        lower(place_of_service_source_value) not like '%neonatal%'    -- removing Neonatal ICUs
    )
select
    vd.person_id
from
    visit_detail vd
join
    icu
on
    icu.care_site_id = vd.care_site_id
;"""

icu = pd.read_sql_query(query, conn)

In [4]:
# age > 15
query = """
with person_age as (
    select
        p.person_id, (v.visit_start_date - p.birth_datetime)/365.25 age
    from
        person p
    left outer join
        visit_occurrence v
    on
        p.person_id = v.person_id)
select
    person_id, age
from
    person_age
where
    age > 15            -- including persons older than 15
and 
    age < 150             -- removing any outliers
;"""

age = pd.read_sql_query(query, conn)

### Cohort fusion

In [5]:
list_patient = list(set(icu.person_id) & set(age.person_id) & set(limitation.person_id))
list_patient

[62095360,
 62095362,
 62095364,
 62095365,
 62095367,
 62095368,
 62095369,
 62095372,
 62095375,
 62095376,
 62095377,
 62095379,
 62095380,
 62095382,
 62095385,
 62095386,
 62095388,
 62095390,
 62095391,
 62095393,
 62095394,
 62095395,
 62095396,
 62095402,
 62095403,
 62095404,
 62095405,
 62095407,
 62095408,
 62095409,
 62095410,
 62095411,
 62095413,
 62095414,
 62095415,
 62095416,
 62095418,
 62095419,
 62095420,
 62095423,
 62095424,
 62095425,
 62095427,
 62095429,
 62095431,
 62095432,
 62095433,
 62095434,
 62095439,
 62095440,
 62095441,
 62095449,
 62095453,
 62095455,
 62095456,
 62095457,
 62095459,
 62095471,
 62095472,
 62095473,
 62095474,
 62095476,
 62095477,
 62095478,
 62095479,
 62095484,
 62095485,
 62095486,
 62095489,
 62095490,
 62095491,
 62095493,
 62095495,
 62095496,
 62095499,
 62095501,
 62095502,
 62095503,
 62095504,
 62095505,
 62095506,
 62095507,
 62095508,
 62095509,
 62095516,
 62095517,
 62095519,
 62095522,
 62095524,
 62095527,
 62095528,
 62095531,
 62095533,
 62095535,
 62095536,
 62095538,
 62095540,
 62095541,
 62095542,
 62095543,
 62095544,
 62095549,
 62095550,
 62095552,
 62095554,
 62095556,
 62095557,
 62095558,
 62095562,
 62095563,
 62095565,
 62095567,
 62107453,
 62095569,
 62095570,
 62095573,
 62095574,
 62095575,
 62095577,
 62095578,
 62095579,
 62095581,
 62095583,
 62095584,
 62095586,
 62095587,
 62095588,
 62095592,
 62095593,
 62095596,
 62095597,
 62095598,
 62095599,
 62095600,
 62095601,
 62095602,
 62095606,
 62095610,
 62095611,
 62095613,
 62095614,
 62095615,
 62095616,
 62095617,
 62095618,
 62095621,
 62095625,
 62095627,
 62095628,
 62095630,
 62095632,
 62095634,
 62095635,
 62095637,
 62095638,
 62095642,
 62095643,
 62095644,
 62095645,
 62095648,
 62095650,
 62095652,
 62095653,
 62095663,
 62095665,
 62095667,
 62095668,
 62095670,
 62095673,
 62095674,
 62095675,
 62095677,
 62095678,
 62095679,
 62095681,
 62095683,
 62095684,
 62095687,
 62095688,
 62095690,
 62095691,
 62095692,
 62095693,
 62095694,
 62095695,
 62095697,
 62095698,
 62095699,
 62095700,
 62095703,
 62095704,
 62095710,
 62095712,
 62095718,
 62095721,
 62095722,
 62095724,
 62095725,
 62095726,
 62095727,
 62095728,
 62095730,
 62095731,
 62095732,
 62095733,
 62095736,
 62095739,
 62095740,
 62095741,
 62095742,
 62095744,
 62095748,
 62095749,
 62095750,
 62095752,
 62095757,
 62095758,
 62095760,
 62095762,
 62095764,
 62095765,
 62095766,
 62095767,
 62095770,
 62095771,
 62095774,
 62095775,
 62095779,
 62095780,
 62095781,
 62095782,
 62095783,
 62095785,
 62095786,
 62095787,
 62095790,
 62095791,
 62095792,
 62095795,
 62095797,
 62095799,
 62095802,
 62095803,
 62095807,
 62095809,
 62095811,
 62095812,
 62095814,
 62095816,
 62095817,
 62095818,
 62107052,
 62095820,
 62095821,
 62095823,
 62095824,
 62095825,
 62095826,
 62095828,
 62095830,
 62095831,
 62107055,
 62095836,
 62095837,
 62095841,
 62095844,
 62095847,
 62095848,
 62095850,
 62095851,
 62095852,
 62095863,
 62095865,
 62095867,
 62095868,
 62107063,
 62095875,
 62095877,
 62095879,
 62095881,
 62095883,
 62095884,
 62095888,
 62095889,
 62095890,
 62095891,
 62095892,
 62095895,
 62095900,
 62095901,
 62095903,
 62095906,
 62095907,
 62095910,
 62095912,
 62095915,
 62095917,
 62095918,
 62095919,
 62095920,
 62095922,
 62095923,
 62095924,
 62095925,
 62095927,
 62095928,
 62095930,
 62095931,
 62095932,
 62095933,
 62095934,
 62095936,
 62095938,
 62095939,
 62095940,
 62095943,
 62107077,
 62095947,
 62107078,
 62095950,
 62095951,
 62095953,
 62095954,
 62095958,
 62095959,
 62095960,
 62095962,
 62095964,
 62095967,
 62095968,
 62095969,
 62095972,
 62095973,
 62095975,
 62100667,
 62095977,
 62095979,
 62095981,
 62095982,
 62095983,
 62095987,
 62095989,
 62095990,
 62095994,
 62095995,
 62095999,
 62096003,
 62096004,
 62096005,
 62096006,
 62096007,
 62096008,
 62096011,
 62096012,
 62096017,
 62096018,
 62100579,
 62096022,
 62096025,
 62096026,
 62096028,
 62096029,
 62096030,
 62096031,
 62096032,
 62096033,
 62096034,
 62096035,
 62096036,
 62096037,
 62100582,
 62096040,
 62096041,
 62096042,
 62096044,
 62100584,
 62096051,
 62096052,
 62096054,
 62096056,
 62096057,
 62096060,
 62096062,
 62096065,
 62096066,
 62096067,
 62096068,
 62096070,
 62096076,
 62096077,
 62096081,
 62096082,
 62096083,
 62096087,
 62096088,
 62096089,
 62096090,
 62096091,
 62096093,
 62096095,
 62096096,
 62096098,
 62096099,
 62096102,
 62096103,
 62096104,
 62096106,
 62096109,
 62096110,
 62096111,
 62096112,
 62096113,
 62096114,
 62096115,
 62096116,
 62096118,
 62096119,
 62096120,
 62096121,
 62096122,
 62096123,
 62096124,
 62096125,
 62096126,
 62096127,
 62096128,
 62096129,
 62096130,
 62096131,
 62096132,
 62096133,
 62063367,
 62063368,
 62063369,
 62063370,
 62096135,
 62063372,
 62063373,
 62063374,
 62096136,
 62096139,
 62096143,
 62096145,
 62063379,
 62096147,
 62096148,
 62063382,
 62063383,
 62063384,
 62063385,
 62096150,
 62096153,
 62063389,
 62096157,
 62063391,
 62063392,
 62096158,
 62063394,
 62063395,
 62063396,
 62096159,
 62096160,
 62096163,
 62063400,
 62096165,
 62063403,
 62063405,
 62096173,
 62096175,
 62096176,
 62096177,
 62063410,
 62063411,
 62063412,
 62096179,
 62096180,
 62096181,
 62063416,
 62096182,
 62063418,
 62096183,
 62096185,
 62096187,
 62096189,
 62063423,
 62096191,
 62063425,
 62063426,
 62096192,
 62096194,
 62063429,
 62063430,
 62096199,
 62096200,
 62063433,
 62096201,
 62096202,
 62063436,
 62063437,
 62063438,
 62063439,
 62096203,
 62096204,
 62096206,
 62096209,
 62063444,
 62063445,
 62096211,
 62063447,
 62096212,
 62096213,
 62096215,
 62096217,
 62096218,
 62063453,
 62096219,
 62096221,
 62096222,
 62063457,
 62096223,
 62063459,
 62096224,
 62096225,
 62063462,
 62063463,
 62063464,
 62063465,
 62063466,
 62096227,
 62063468,
 62063469,
 62063470,
 62063471,
 62063472,
 62096232,
 62063474,
 62096234,
 62096237,
 62096239,
 62063478,
 62096240,
 62096241,
 62096246,
 62096247,
 62063483,
 62063484,
 62063485,
 62063486,
 62063487,
 62096249,
 62063489,
 62096250,
 62096251,
 62096254,
 62096256,
 62063494,
 62063495,
 62063496,
 62063497,
 62096257,
 62063499,
 62096259,
 62063501,
 62063502,
 62063503,
 62096268,
 62096271,
 62096272,
 62096273,
 62063508,
 62096274,
 62096277,
 62063512,
 62063514,
 62096282,
 62063516,
 62096286,
 62063519,
 62096287,
 62096289,
 62063522,
 62063523,
 62096290,
 62096293,
 62096294,
 62096295,
 62096296,
 62063530,
 62096299,
 62096300,
 62063533,
 62063534,
 62063535,
 62096302,
 62063537,
 62063538,
 62096303,
 62096307,
 62096309,
 62063542,
 62096311,
 62063545,
 62096314,
 62096315,
 62063548,
 62096318,
 62096319,
 62096320,
 62096321,
 62096323,
 62063556,
 62096325,
 62096326,
 62096328,
 62063561,
 62096330,
 62063563,
 62063564,
 62063565,
 62063566,
 62063567,
 62063568,
 62096331,
 62096336,
 62096338,
 62096340,
 62096344,
 62096345,
 62096347,
 62063581,
 62063582,
 62063583,
 62063584,
 62096349,
 62063586,
 62096351,
 62096353,
 62096354,
 62063590,
 62063591,
 62096357,
 62063593,
 62096360,
 62096361,
 62063596,
 62096362,
 62063598,
 62063599,
 62096364,
 62096366,
 62096367,
 62096369,
 62096370,
 62096371,
 62063606,
 62063607,
 62063608,
 62096380,
 62100683,
 62096382,
 62063615,
 62063616,
 62063617,
 62096386,
 62063620,
 62063621,
 62063622,
 62063624,
 62096392,
 62063626,
 62096395,
 62063628,
 62096400,
 62063633,
 62100684,
 62096406,
 62096407,
 62063640,
 62063642,
 62063644,
 62063645,
 62063646,
 62096412,
 62063648,
 62063649,
 62096415,
 62096416,
 62063652,
 62096420,
 62096423,
 62096426,
 62063660,
 62063661,
 62096430,
 62063664,
 62063665,
 62096433,
 62096435,
 62063668,
 62096437,
 62063670,
 62096438,
 62096440,
 62063673,
 62096442,
 62063675,
 62096446,
 62096447,
 62063680,
 62063682,
 62096451,
 62063684,
 62063685,
 62063686,
 62096455,
 62063688,
 62096456,
 62063690,
 62096457,
 62063692,
 62096458,
 62063694,
 62096462,
 62063696,
 62096463,
 62063698,
 62096465,
 62096466,
 62096468,
 62063702,
 62096470,
 62063705,
 62096474,
 62063707,
 62096475,
 62096476,
 62063710,
 62096478,
 62063716,
 62096484,
 62063718,
 62063719,
 62096485,
 62063721,
 62063722,
 62063723,
 62096486,
 62063725,
 62063726,
 62096488,
 62063728,
 62096495,
 62096496,
 62096497,
 62063732,
 62063733,
 62063734,
 62063735,
 62096500,
 62096501,
 62096502,
 62063739,
 62063740,
 62096504,
 62063742,
 62096505,
 62096507,
 62096511,
 62096512,
 62096513,
 62063748,
 62063749,
 62063750,
 62096514,
 62063752,
 62096519,
 62096522,
 62063755,
 62063756,
 62063757,
 62096527,
 62063760,
 62063761,
 62063762,
 62096531,
 62063764,
 62063765,
 62063766,
 62096533,
 62096535,
 62063769,
 62096536,
 62096538,
 62096539,
 62096540,
 62096541,
 62063775,
 62096542,
 62063777,
 62096543,
 62063779,
 62063780,
 62096545,
 62096547,
 62063783,
 62096550,
 62096553,
 62063786,
 62063787,
 62096555,
 62096557,
 62096560,
 62096562,
 62063795,
 62063796,
 62063797,
 62096566,
 62063800,
 62096570,
 62096571,
 62063805,
 62096575,
 62063810,
 62096578,
 62096581,
 62063816,
 62096586,
 62063819,
 62063820,
 62096588,
 62063822,
 62063823,
 62096589,
 62096590,
 62096591,
 62063827,
 62096592,
 62063829,
 62063830,
 62063831,
 62063832,
 62063833,
 62063834,
 62063835,
 62096597,
 62063837,
 62063838,
 62096598,
 62096600,
 62096601,
 62096604,
 62096606,
 62096608,
 62063845,
 62096610,
 62096611,
 62096612,
 62063849,
 62063850,
 62096615,
 62063852,
 62063853,
 62063854,
 62063855,
 62096620,
 62063857,
 62096622,
 62063859,
 62063860,
 62096624,
 62096626,
 62096627,
 62096628,
 62063865,
 62096631,
 62063867,
 62096632,
 62063869,
 62063870,
 62063871,
 62063872,
 62063873,
 62096633,
 62063875,
 62063876,
 62096636,
 62096637,
 62096640,
 62096643,
 62063881,
 62096645,
 62096647,
 62063884,
 62063885,
 62063886,
 62096648,
 62063888,
 62063889,
 62096649,
 62063891,
 62096651,
 62063893,
 62096654,
 62096655,
 62063896,
 62063897,
 62063898,
 62096658,
 62096659,
 62063901,
 62063902,
 62096662,
 62096664,
 62063905,
 62063906,
 62063907,
 62096667,
 62063909,
 62096670,
 62063911,
 62063912,
 62096673,
 62096674,
 62063915,
 62063916,
 62063917,
 62096680,
 62096681,
 62063920,
 62063921,
 62096682,
 62096683,
 62096684,
 62096685,
 62096686,
 62063927,
 62096689,
 62063929,
 62096690,
 62096691,
 62096694,
 62096695,
 62096696,
 62063935,
 62063936,
 62063937,
 62063938,
 62063939,
 62096699,
 62096700,
 62096701,
 62096704,
 62063944,
 62096706,
 62096707,
 62063947,
 62063948,
 62063949,
 62063950,
 62096710,
 62096711,
 62096714,
 62096716,
 62063955,
 62063956,
 62096717,
 62063958,
 62096718,
 62096720,
 62063961,
 62063962,
 62063963,
 62063964,
 62063965,
 62096725,
 62063967,
 62096730,
 62096731,
 62096732,
 62096734,
 62063972,
 62096737,
 62063974,
 62063975,
 62096738,
 62063977,
 62063978,
 62063979,
 62096739,
 62063981,
 62063982,
 62096744,
 62096746,
 62096749,
 62096751,
 62096752,
 62063988,
 62096753,
 62063990,
 62096754,
 ...]

In [6]:
len(list_patient)

21404

## Build dataset for each patient

In [7]:
# Utils functions

def to_categorical(df, variables=[]):
    """Convert variables to categorical type.
    
    Parameters
    ----------
    df : pd.DataFrame
        Dataframe.
    variables : list of str
        List of variables to convert to categorical.
    
    Returns
    -------
    df : pd.DataFrame
        Dataframe with converted variables.
    
    """
    for var in variables:
        df[var] = df[var].astype('category')
    return df

def to_one_hot(df, variables=[]):
    """One-hot encode categorical variables.
    
    Parameters
    ----------
    df : pd.DataFrame
        Dataframe.
    variables : list of str
        List of categorical variables to convert to one-hot.
    
    Returns
    -------
    df : pd.DataFrame
        Dataframe with added one-hot encoded variables.
    
    """
    # Check whether input variables are categorical
    for var in variables:
        if df[var].dtype != 'category':
            raise ValueError('Variable {} is not categorical, cannot one-hot encode.'.format(var))
    if variables:
        # Get one-hots
        one_hots = pd.get_dummies(df[variables])
        # Drop original variables from dataframe
        df.drop(variables, 1, inplace=True)
        # Add one-hots to dataframe
        df = df.join(one_hots)
    return df

### Extract patients meta

In [8]:
query = """
select
    distinct p.person_id, p.gender_source_value gender, p.race_source_value race
from
    person p
    ;"""

meta = pd.read_sql_query(query, conn)

# Note: ethnicity is empty so we do not add it

In [9]:
meta.iloc[:100]

    person_id gender   race
0    62065089      F  ASIAN
1    62106569      M  ASIAN
2    62073299      F  ASIAN
3    62096906      M  ASIAN
4    62102055      M  ASIAN
5    62106786      F  ASIAN
6    62083063      F  ASIAN
7    62078234      M  ASIAN
8    62065073      F  ASIAN
9    62100837      F  ASIAN
10   62082356      F  ASIAN
11   62063543      F  ASIAN
12   62078232      M  ASIAN
13   62080886      F  ASIAN
14   62088204      F  ASIAN
15   62099292      F  ASIAN
16   62080861      F  ASIAN
17   62099282      F  ASIAN
18   62096114      M  ASIAN
19   62065175      M  ASIAN
20   62078655      F  ASIAN
21   62074556      F  ASIAN
22   62063432      F  ASIAN
23   62077432      F  ASIAN
24   62091609      F  ASIAN
25   62077423      F  ASIAN
26   62078220      M  ASIAN
27   62063408      F  ASIAN
28   62078195      M  ASIAN
29   62074525      F  ASIAN
..        ...    ...    ...
70   62095446      F  ASIAN
71   62080212      M  ASIAN
72   62096521      F  ASIAN
73   62088369      M  ASIAN
74   62087457      F  ASIAN
75   62105242      M  ASIAN
76   62084545      F  ASIAN
77   62078573      F  ASIAN
78   62077349      F  ASIAN
79   62087748      M  ASIAN
80   62087742      M  ASIAN
81   62071186      M  ASIAN
82   62063592      M  ASIAN
83   62095786      F  ASIAN
84   62074066      M  ASIAN
85   62077346      F  ASIAN
86   62105756      F  ASIAN
87   62095363      F  ASIAN
88   62065552      M  ASIAN
89   62077314      F  ASIAN
90   62099493      M  ASIAN
91   62079814      M  ASIAN
92   62076933      F  ASIAN
93   62085595      F  ASIAN
94   62084888      F  ASIAN
95   62073549      F  ASIAN
96   62071165      M  ASIAN
97   62063769      M  ASIAN
98   62100218      M  ASIAN
99   62096662      M  ASIAN

[100 rows x 3 columns]

In [10]:
print('Counts:')
for name in ['gender', 'race']:
    print(name + '\n' + '-'*30)
    print(meta[name].value_counts())
    print('')

Counts:
gender
------------------------------
M    26121
F    20399
Name: gender, dtype: int64

race
------------------------------
WHITE                                                       32074
UNKNOWN/NOT SPECIFIED                                        4236
BLACK/AFRICAN AMERICAN                                       3585
HISPANIC OR LATINO                                           1350
ASIAN                                                        1304
OTHER                                                        1256
UNABLE TO OBTAIN                                              792
PATIENT DECLINED TO ANSWER                                    498
ASIAN - CHINESE                                               223
BLACK/CAPE VERDEAN                                            159
HISPANIC/LATINO - PUERTO RICAN                                146
MULTI RACE ETHNICITY                                          111
WHITE - RUSSIAN                                               105
BLACK/HAITIAN                                                  71
WHITE - OTHER EUROPEAN                                         69
HISPANIC/LATINO - DOMINICAN                                    60
ASIAN - ASIAN INDIAN                                           57
AMERICAN INDIAN/ALASKA NATIVE                                  45
WHITE - BRAZILIAN                                              42
ASIAN - VIETNAMESE                                             41
PORTUGUESE                                                     36
BLACK/AFRICAN                                                  32
MIDDLE EASTERN                                                 28
HISPANIC/LATINO - GUATEMALAN                                   25
WHITE - EASTERN EUROPEAN                                       22
HISPANIC/LATINO - CUBAN                                        15
ASIAN - OTHER                                                  15
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                      15
ASIAN - FILIPINO                                               15
HISPANIC/LATINO - SALVADORAN                                   14
ASIAN - KOREAN                                                 11
HISPANIC/LATINO - MEXICAN                                      11
ASIAN - CAMBODIAN                                              10
HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)                      9
HISPANIC/LATINO - COLOMBIAN                                     8
SOUTH AMERICAN                                                  8
CARIBBEAN ISLAND                                                7
ASIAN - JAPANESE                                                7
ASIAN - THAI                                                    3
HISPANIC/LATINO - HONDURAN                                      3
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        2
Name: race, dtype: int64

In [11]:
# one hot encoding
categorical_variables = ['gender', 'race']

# Convert categorical variable to 'categorical' type
meta = to_categorical(meta, categorical_variables)

In [12]:
# One-hot encode categorical variables
meta = to_one_hot(meta, categorical_variables)

In [13]:
meta.iloc[:10]

,person_id,gender_F,gender_M,race_AMERICAN INDIAN/ALASKA NATIVE,race_AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE,race_ASIAN,race_ASIAN - ASIAN INDIAN,race_ASIAN - CAMBODIAN,race_ASIAN - CHINESE,race_ASIAN - FILIPINO,...,race_PATIENT DECLINED TO ANSWER,race_PORTUGUESE,race_SOUTH AMERICAN,race_UNABLE TO OBTAIN,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN
0,62065089,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,62106569,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,62073299,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,62096906,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,62102055,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,62106786,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,62083063,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,62078234,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,62065073,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,62100837,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
meta_names = meta.columns

### Extract measures

#### SQL requests

In [15]:
patient_id = 62063368  # person_id

query = """
select
    distinct m.person_id, m.measurement_datetime, m.measurement_concept_name, m.value_source_value, m.unit_source_value, d.death_datetime
from 
    measurement m 
left join 
    death d on d.person_id = m.person_id
where
    measurement_concept_id in
    (3022318,   -- heart_rhythm
     3024171,   -- respiratory_rate
     3028354,   -- vent_settings
     3012888,   -- diastolic_bp
     3027598,   -- map_bp
     3004249,   -- systolic_bp
     3027018,   -- heart_rate
     3020891,   -- temperature
     3016502,   -- spo2
     3020716,   -- fio2
     3032652    -- glasgow coma scale
    )
and m.person_id = {}
order by measurement_datetime
;""".format(patient_id)

measures = pd.read_sql_query(query, conn)

In [16]:
measures.iloc[:100]

,person_id,measurement_datetime,measurement_concept_name,value_source_value,unit_source_value,death_datetime
0,62063368,2188-11-12 10:00:00,Mean blood pressure,107.33300018310547,mmHg,2188-11-22 12:00:00
1,62063368,2188-11-12 10:00:00,Respiratory rate,38,BPM,2188-11-22 12:00:00
2,62063368,2188-11-12 10:00:00,Body temperature,36.388900756835938,Deg. C,2188-11-22 12:00:00
3,62063368,2188-11-12 10:00:00,Body temperature,97.5,Deg. F,2188-11-22 12:00:00
4,62063368,2188-11-12 10:00:00,BP diastolic,88,mmHg,2188-11-22 12:00:00
5,62063368,2188-11-12 10:00:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
6,62063368,2188-11-12 10:00:00,Oxygen saturation in Arterial blood,97,%,2188-11-22 12:00:00
7,62063368,2188-11-12 10:00:00,BP systolic,146,mmHg,2188-11-22 12:00:00
8,62063368,2188-11-12 10:30:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
9,62063368,2188-11-12 10:30:00,BP diastolic,95,mmHg,2188-11-22 12:00:00
10,62063368,2188-11-12 10:30:00,BP systolic,140,mmHg,2188-11-22 12:00:00
11,62063368,2188-11-12 10:30:00,Mean blood pressure,110,mmHg,2188-11-22 12:00:00
12,62063368,2188-11-12 10:30:00,Respiratory rate,34,BPM,2188-11-22 12:00:00
13,62063368,2188-11-12 10:30:00,Heart rate,134,BPM,2188-11-22 12:00:00
14,62063368,2188-11-12 10:30:00,Oxygen saturation in Arterial blood,98,%,2188-11-22 12:00:00
15,62063368,2188-11-12 10:45:00,BP systolic,144,mmHg,2188-11-22 12:00:00
16,62063368,2188-11-12 10:45:00,Mean blood pressure,112.66699981689453,mmHg,2188-11-22 12:00:00
17,62063368,2188-11-12 10:45:00,Heart rate,134,BPM,2188-11-22 12:00:00
18,62063368,2188-11-12 10:45:00,Respiratory rate,41,BPM,2188-11-22 12:00:00
19,62063368,2188-11-12 10:45:00,BP diastolic,97,mmHg,2188-11-22 12:00:00
20,62063368,2188-11-12 10:45:00,Oxygen saturation in Arterial blood,97,%,2188-11-22 12:00:00
21,62063368,2188-11-12 10:45:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
22,62063368,2188-11-12 11:00:00,Oxygen saturation in Arterial blood,99,%,2188-11-22 12:00:00
23,62063368,2188-11-12 11:00:00,Heart rate,134,BPM,2188-11-22 12:00:00
24,62063368,2188-11-12 11:00:00,BP diastolic,91,mmHg,2188-11-22 12:00:00
25,62063368,2188-11-12 11:00:00,BP systolic,140,mmHg,2188-11-22 12:00:00
26,62063368,2188-11-12 11:00:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
27,62063368,2188-11-12 11:00:00,Respiratory rate,40,BPM,2188-11-22 12:00:00
28,62063368,2188-11-12 11:00:00,Mean blood pressure,107.33300018310547,mmHg,2188-11-22 12:00:00
29,62063368,2188-11-12 12:00:00,BP systolic,139,mmHg,2188-11-22 12:00:00
...,...,...,...,...,...,...
70,62063368,2188-11-12 14:45:00,BP diastolic,101,mmHg,2188-11-22 12:00:00
71,62063368,2188-11-12 14:45:00,Respiratory rate,42,BPM,2188-11-22 12:00:00
72,62063368,2188-11-12 15:00:00,Mean blood pressure,115.66699981689453,mmHg,2188-11-22 12:00:00
73,62063368,2188-11-12 15:00:00,BP systolic,147,mmHg,2188-11-22 12:00:00
74,62063368,2188-11-12 15:00:00,BP diastolic,100,mmHg,2188-11-22 12:00:00
75,62063368,2188-11-12 15:00:00,Respiratory rate,40,BPM,2188-11-22 12:00:00
76,62063368,2188-11-12 15:00:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
77,62063368,2188-11-12 15:00:00,Heart rate,146,BPM,2188-11-22 12:00:00
78,62063368,2188-11-12 15:00:00,Oxygen saturation in Arterial blood,98,%,2188-11-22 12:00:00
79,62063368,2188-11-12 15:30:00,Mean blood pressure,124.66699981689453,mmHg,2188-11-22 12:00:00
80,62063368,2188-11-12 15:30:00,BP systolic,154,mmHg,2188-11-22 12:00:00
81,62063368,2188-11-12 15:30:00,Oxygen saturation in Arterial blood,99,%,2188-11-22 12:00:00
82,62063368,2188-11-12 15:30:00,Respiratory rate,39,BPM,2188-11-22 12:00:00
83,62063368,2188-11-12 15:30:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
84,62063368,2188-11-12 15:30:00,Heart rate,144,BPM,2188-11-22 12:00:00
85,62063368,2188-11-12 15:30:00,BP diastolic,110,mmHg,2188-11-22 12:00:00
86,62063368,2188-11-12 16:00:00,BP systolic,171,mmHg,2188-11-22 12:00:00
87,62063368,2188-11-12 16:00:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
88,62063368,2188-11-12 16:00:00,BP diastolic,122,mmHg,2188-11-22 12:00:00
89,62063368,2188-11-12 16:00:00,Heart rate,134,BPM,2188-11-22 12:00:00
90,62063368,2188-11-12 16:00:00,Respiratory rate,36,BPM,2188-11-22 12:00:00
91,62063368,2188-11-12 16:00:00,Mean blood pressure,138.33299255371094,mmHg,2188-11-22 12:00:00
92,62063368,2188-11-12 16:00:00,Oxygen saturation in Arterial blood,95,%,2188-11-22 12:00:00
93,62063368,2188-11-12 16:10:00,Mean pressure Respiratory system airway Calcul...,21,cmH2O,2188-11-22 12:00:00
94,62063368,2188-11-12 16:10:00,Respiratory rate,23,BPM,2188-11-22 12:00:00
95,62063368,2188-11-12 16:10:00,Respiratory rate,5,BPM,2188-11-22 12:00:00
96,62063368,2188-11-12 16:10:00,Oxygen concentration breathed,1,torr,2188-11-22 12:00:00
97,62063368,2188-11-12 17:00:00,BP systolic,116,mmHg,2188-11-22 12:00:00
98,62063368,2188-11-12 17:00:00,BP diastolic,62,mmHg,2188-11-22 12:00:00
99,62063368,2188-11-12 17:00:00,Mean blood pressure,94,mmHg,2188-11-22 12:00:00

#### Change type datetime

In [17]:
measures['death_datetime'] = pd.to_datetime(measures['death_datetime'])
measures['measurement_datetime'] = pd.to_datetime(measures['measurement_datetime'])
measures

,person_id,measurement_datetime,measurement_concept_name,value_source_value,unit_source_value,death_datetime
0,62063368,2188-11-12 10:00:00,Mean blood pressure,107.33300018310547,mmHg,2188-11-22 12:00:00
1,62063368,2188-11-12 10:00:00,Respiratory rate,38,BPM,2188-11-22 12:00:00
2,62063368,2188-11-12 10:00:00,Body temperature,36.388900756835938,Deg. C,2188-11-22 12:00:00
3,62063368,2188-11-12 10:00:00,Body temperature,97.5,Deg. F,2188-11-22 12:00:00
4,62063368,2188-11-12 10:00:00,BP diastolic,88,mmHg,2188-11-22 12:00:00
5,62063368,2188-11-12 10:00:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
6,62063368,2188-11-12 10:00:00,Oxygen saturation in Arterial blood,97,%,2188-11-22 12:00:00
7,62063368,2188-11-12 10:00:00,BP systolic,146,mmHg,2188-11-22 12:00:00
8,62063368,2188-11-12 10:30:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
9,62063368,2188-11-12 10:30:00,BP diastolic,95,mmHg,2188-11-22 12:00:00
10,62063368,2188-11-12 10:30:00,BP systolic,140,mmHg,2188-11-22 12:00:00
11,62063368,2188-11-12 10:30:00,Mean blood pressure,110,mmHg,2188-11-22 12:00:00
12,62063368,2188-11-12 10:30:00,Respiratory rate,34,BPM,2188-11-22 12:00:00
13,62063368,2188-11-12 10:30:00,Heart rate,134,BPM,2188-11-22 12:00:00
14,62063368,2188-11-12 10:30:00,Oxygen saturation in Arterial blood,98,%,2188-11-22 12:00:00
15,62063368,2188-11-12 10:45:00,BP systolic,144,mmHg,2188-11-22 12:00:00
16,62063368,2188-11-12 10:45:00,Mean blood pressure,112.66699981689453,mmHg,2188-11-22 12:00:00
17,62063368,2188-11-12 10:45:00,Heart rate,134,BPM,2188-11-22 12:00:00
18,62063368,2188-11-12 10:45:00,Respiratory rate,41,BPM,2188-11-22 12:00:00
19,62063368,2188-11-12 10:45:00,BP diastolic,97,mmHg,2188-11-22 12:00:00
20,62063368,2188-11-12 10:45:00,Oxygen saturation in Arterial blood,97,%,2188-11-22 12:00:00
21,62063368,2188-11-12 10:45:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
22,62063368,2188-11-12 11:00:00,Oxygen saturation in Arterial blood,99,%,2188-11-22 12:00:00
23,62063368,2188-11-12 11:00:00,Heart rate,134,BPM,2188-11-22 12:00:00
24,62063368,2188-11-12 11:00:00,BP diastolic,91,mmHg,2188-11-22 12:00:00
25,62063368,2188-11-12 11:00:00,BP systolic,140,mmHg,2188-11-22 12:00:00
26,62063368,2188-11-12 11:00:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
27,62063368,2188-11-12 11:00:00,Respiratory rate,40,BPM,2188-11-22 12:00:00
28,62063368,2188-11-12 11:00:00,Mean blood pressure,107.33300018310547,mmHg,2188-11-22 12:00:00
29,62063368,2188-11-12 12:00:00,BP systolic,139,mmHg,2188-11-22 12:00:00
...,...,...,...,...,...,...
3526,62063368,2188-11-22 18:00:00,BP systolic,51,mmHg,2188-11-22 12:00:00
3527,62063368,2188-11-22 18:00:00,Body temperature,37.799999237060547,Deg. C,2188-11-22 12:00:00
3528,62063368,2188-11-22 18:00:00,Respiratory rate,31,BPM,2188-11-22 12:00:00
3529,62063368,2188-11-22 18:00:00,Mean blood pressure,42,mmHg,2188-11-22 12:00:00
3530,62063368,2188-11-22 18:00:00,Heart rate,99,BPM,2188-11-22 12:00:00
3531,62063368,2188-11-22 18:00:00,Oxygen saturation in Arterial blood,65,%,2188-11-22 12:00:00
3532,62063368,2188-11-22 18:00:00,BP diastolic,38,mmHg,2188-11-22 12:00:00
3533,62063368,2188-11-22 18:00:00,Body temperature,100.04000091552734,Deg. F,2188-11-22 12:00:00
3534,62063368,2188-11-22 18:30:00,Heart rate rhythm,Sinus Tachy,None,2188-11-22 12:00:00
3535,62063368,2188-11-22 18:30:00,Heart rate,142,BPM,2188-11-22 12:00:00
3536,62063368,2188-11-22 18:30:00,Oxygen saturation in Arterial blood,62,%,2188-11-22 12:00:00
3537,62063368,2188-11-22 18:30:00,BP systolic,74,mmHg,2188-11-22 12:00:00
3538,62063368,2188-11-22 18:30:00,Respiratory rate,29,BPM,2188-11-22 12:00:00
3539,62063368,2188-11-22 18:30:00,Body temperature,98.599998474121094,Deg. F,2188-11-22 12:00:00
3540,62063368,2188-11-22 18:30:00,Mean blood pressure,61,mmHg,2188-11-22 12:00:00
3541,62063368,2188-11-22 18:30:00,BP diastolic,55,mmHg,2188-11-22 12:00:00
3542,62063368,2188-11-22 18:30:00,Body temperature,37,Deg. C,2188-11-22 12:00:00
3543,62063368,2188-11-22 18:45:00,Respiratory rate,27,BPM,2188-11-22 12:00:00
3544,62063368,2188-11-22 18:45:00,Heart rate rhythm,Idioventricular,None,2188-11-22 12:00:00
3545,62063368,2188-11-22 18:45:00,BP diastolic,46,mmHg,2188-11-22 12:00:00
3546,62063368,2188-11-22 18:45:00,BP systolic,60,mmHg,2188-11-22 12:00:00
3547,62063368,2188-11-22 18:45:00,Mean blood pressure,51,mmHg,2188-11-22 12:00:00
3548,62063368,2188-11-22 18:45:00,Oxygen saturation in Arterial blood,46,%,2188-11-22 12:00:00
3549,62063368,2188-11-22 18:45:00,Heart rate,124,BPM,2188-11-22 12:00:00
3550,62063368,2188-11-22 19:00:00,BP diastolic,0,mmHg,2188-11-22 12:00:00
3551,62063368,2188-11-22 19:00:00,Mean blood pressure,26,mmHg,2188-11-22 12:00:00
3552,62063368,2188-11-22 19:00:00,Respiratory rate,27,BPM,2188-11-22 12:00:00
3553,62063368,2188-11-22 19:00:00,BP systolic,0,mmHg,2188-11-22 12:00:00
3554,62063368,2188-11-22 19:00:00,Heart rate,0,BPM,2188-11-22 12:00:00
3555,62063368,2188-11-22 19:16:00,Oxygen saturation in Arterial blood,68,%,2188-11-22 12:00:00

#### Add target value (y)

In [18]:
def define_target_value(row):
    if row['death_datetime'] <= row['measurement_datetime']:
        val = 1
    else:
        val = 0
    return val

In [19]:
measures['target'] = measures.apply(define_target_value, axis=1)

#### Row to columns

In [20]:
measures = measures.pivot_table(index=['measurement_datetime','target','person_id'], columns='measurement_concept_name', values='value_source_value', aggfunc='first')
measures

,,measurement_concept_name,BP diastolic,BP systolic,Body temperature,Heart rate,Heart rate rhythm,Mean blood pressure,Mean pressure Respiratory system airway Calculated,Oxygen concentration breathed,Oxygen saturation in Arterial blood,Respiratory rate
measurement_datetime,target,person_id,,,,,,,,,,
2188-11-12 10:00:00,0,62063368,88,146,36.388900756835938,None,Sinus Tachy,107.33300018310547,None,None,97,38
2188-11-12 10:30:00,0,62063368,95,140,None,134,Sinus Tachy,110,None,None,98,34
2188-11-12 10:45:00,0,62063368,97,144,None,134,Sinus Tachy,112.66699981689453,None,None,97,41
2188-11-12 11:00:00,0,62063368,91,140,None,134,Sinus Tachy,107.33300018310547,None,None,99,40
2188-11-12 12:00:00,0,62063368,98,139,36.444400787353516,135,Sinus Tachy,111.66699981689453,None,None,95,38
2188-11-12 13:00:00,0,62063368,108,158,36.666698455810547,134,Sinus Tachy,124.66699981689453,None,.44999998807907104,93,32
2188-11-12 13:03:00,0,62063368,None,None,36.7,None,None,None,None,None,None,None
2188-11-12 13:30:00,0,62063368,105,159,None,134,Sinus Tachy,123,None,.5,97,31
2188-11-12 14:00:00,0,62063368,107,157,None,137,Sinus Tachy,123.66699981689453,None,.5,98,34
2188-11-12 14:45:00,0,62063368,101,149,None,147,Sinus Tachy,117,None,None,98,42
2188-11-12 15:00:00,0,62063368,100,147,None,146,Sinus Tachy,115.66699981689453,None,None,98,40
2188-11-12 15:30:00,0,62063368,110,154,None,144,Sinus Tachy,124.66699981689453,None,None,99,39
2188-11-12 16:00:00,0,62063368,122,171,None,134,Sinus Tachy,138.33299255371094,None,None,95,36
2188-11-12 16:10:00,0,62063368,None,None,None,None,None,None,21,1,None,23
2188-11-12 17:00:00,0,62063368,62,116,None,142,Sinus Tachy,94,None,None,100,18
2188-11-12 18:00:00,0,62063368,84,136,None,129,Sinus Tachy,102,None,.60000002384185791,96,21
2188-11-12 18:15:00,0,62063368,70,122,None,127,Sinus Tachy,88,None,None,95,25
2188-11-12 18:30:00,0,62063368,62,109,None,127,Sinus Tachy,78,None,None,99,24
2188-11-12 19:00:00,0,62063368,79,130,None,123,Sinus Tachy,95,None,None,99,17
2188-11-12 20:00:00,0,62063368,61,109,37.944400787353516,135,Sinus Tachy,77,None,None,99,23
2188-11-12 20:36:00,0,62063368,None,None,37.9,None,None,None,None,None,94,20/2
2188-11-12 21:00:00,0,62063368,73,125,None,135,Sinus Tachy,90,None,None,None,24
2188-11-12 21:16:00,0,62063368,None,None,None,None,None,None,21,.60000002384185791,None,5
2188-11-12 22:00:00,0,62063368,79,134,102.19999694824219,137,Sinus Tachy,97,None,None,95,26
2188-11-12 22:04:00,0,62063368,None,None,37.8,None,None,None,None,None,93,20/3
2188-11-12 23:00:00,0,62063368,82,135,None,151,Sinus Tachy,99,23,1,98,2
2188-11-12 23:37:00,0,62063368,None,None,39.0,None,None,None,None,86,96,30/
2188-11-13 00:00:00,0,62063368,61,102,38.666698455810547,147,Sinus Tachy,75,None,None,99,36
2188-11-13 00:30:00,0,62063368,62,98,None,140,Sinus Tachy,74,None,None,89,36
2188-11-13 01:00:00,0,62063368,77,121,None,141,Sinus Tachy,92,None,None,None,29
...,...,...,...,...,...,...,...,...,...,...,...,...
2188-11-22 11:06:00,0,62063368,None,None,None,None,None,None,None,None,97,None
2188-11-22 11:30:00,0,62063368,72,85,35.700000762939453,96,Normal Sinus,76,None,None,100,5
2188-11-22 12:00:00,1,62063368,75,83,35.799999237060547,99,Normal Sinus,78,27,.60000002384185791,100,10
2188-11-22 12:30:00,1,62063368,71,83,36,96,Normal Sinus,72,None,None,100,10
2188-11-22 12:45:00,1,62063368,None,None,None,None,None,None,None,1,None,None
2188-11-22 13:00:00,1,62063368,77,93,96.800003051757812,91,Normal Sinus,82,None,None,None,10
2188-11-22 13:26:00,1,62063368,None,None,None,None,None,None,None,None,76,None
2188-11-22 13:30:00,1,62063368,81,101,None,94,Normal Sinus,87,None,None,89,0
2188-11-22 14:00:00,1,62063368,81,104,96.800003051757812,88,Normal Sinus,89,None,None,None,10
2188-11-22 14:10:00,1,62063368,None,None,None,None,None,None,29,1,None,None
2188-11-22 15:00:00,1,62063368,49,61,96.800003051757812,99,Normal Sinus,52,None,None,None,15
2188-11-22 15:10:00,1,62063368,None,None,None,None,None,None,40,1,None,19
2188-11-22 15:15:00,1,62063368,53,74,None,103,Sinus Tachy,61,None,None,None,20
2188-11-22 15:25:00,1,62063368,None,None,None,None,None,None,None,None,62,None
2188-11-22 15:30:00,1,62063368,60,117,None,100,Sinus Tachy,74,None,None,73,0
2188-11-22 15:38:00,1,62063368,None,None,None,None,None,None,None,None,42,None
2188-11-22 15:45:00,1,62063368,43,82,None,86,None,53,None,None,42,21
2188-11-22 16:00:00,1,62063368,48,96,None,107,Sinus Tachy,59,40,1,None,21
2188-11-22 16:05:00,1,62063368,39,80,None,73,Normal Sinus,48,None,None,None,27
2188-11-22 16:15:00,1,62063368,46,87,None,113,Sinus Tachy,56,None,None,65,27
2188-11-22 16:19:00,1,62063368,None,None,None,None,None,None,None,None,47,None
2188-11-22 16:30:00,1,62063368,None,None,35.799999237060547,None,Normal Sinus,None,None,None,None,None
2188-11-22 17:00:00,1,62063368,56,104,96.260002136230469,134,Sinus Tachy,69,42,1,68,27
2188-11-22 17:26:00,1,62063368,None,None,None,None,None,None,None,None,53,None
2188-11-22 17:30:00,1,62063368,36,61,None,96,None,43,None,None,57,27
2188-11-22 18:00:00,1,62063368,38,51,37.799999237060547,99,Normal Sinus,42,None,None,65,31
2188-11-22 18:30:00,1,62063368,55,74,98.599998474121094,142,Sinus Tachy,61,None,None,62,29
2188-11-22 18:45:00,1,62063368,46,60,None,124,Idioventricular,51,None,None,46,27
2188-11-22 19:00:00,1,62063368,0,0,None,0,None,26,None,None,None,27
2188-11-22 19:16:00,1,62063368,None,None,None,None,None,None,None,None,68,None

#### Change type to float

In [21]:
measures.reset_index(inplace=True)
measures.columns.name = None
measures[['BP diastolic','BP systolic','Body temperature','Heart rate','Mean blood pressure','Oxygen saturation in Arterial blood','Respiratory rate']] = measures[['BP diastolic','BP systolic','Body temperature','Heart rate','Mean blood pressure','Oxygen saturation in Arterial blood','Respiratory rate']].apply(pd.to_numeric, errors='ignore')

#### Add meta data

In [22]:
idx = (meta['person_id'] == patient_id)
meta[idx][meta_names]

,person_id,gender_F,gender_M,race_AMERICAN INDIAN/ALASKA NATIVE,race_AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE,race_ASIAN,race_ASIAN - ASIAN INDIAN,race_ASIAN - CAMBODIAN,race_ASIAN - CHINESE,race_ASIAN - FILIPINO,...,race_PATIENT DECLINED TO ANSWER,race_PORTUGUESE,race_SOUTH AMERICAN,race_UNABLE TO OBTAIN,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN
43816,62063368,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# Copy measures into 'data' dataframe
data = measures.copy(deep=True)

# Add meta
for name in meta_names:
    data[name] = meta[idx][name].values.squeeze()

In [24]:
data.iloc[:100]

,measurement_datetime,target,person_id,BP diastolic,BP systolic,Body temperature,Heart rate,Heart rate rhythm,Mean blood pressure,Mean pressure Respiratory system airway Calculated,...,race_PATIENT DECLINED TO ANSWER,race_PORTUGUESE,race_SOUTH AMERICAN,race_UNABLE TO OBTAIN,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN
0,2188-11-12 10:00:00,0,62063368,88.0,146.0,36.388901,NaN,Sinus Tachy,107.33300018310547,None,...,0,0,0,0,0,0,0,0,0,0
1,2188-11-12 10:30:00,0,62063368,95.0,140.0,NaN,134.0,Sinus Tachy,110,None,...,0,0,0,0,0,0,0,0,0,0
2,2188-11-12 10:45:00,0,62063368,97.0,144.0,NaN,134.0,Sinus Tachy,112.66699981689453,None,...,0,0,0,0,0,0,0,0,0,0
3,2188-11-12 11:00:00,0,62063368,91.0,140.0,NaN,134.0,Sinus Tachy,107.33300018310547,None,...,0,0,0,0,0,0,0,0,0,0
4,2188-11-12 12:00:00,0,62063368,98.0,139.0,36.444401,135.0,Sinus Tachy,111.66699981689453,None,...,0,0,0,0,0,0,0,0,0,0
5,2188-11-12 13:00:00,0,62063368,108.0,158.0,36.666698,134.0,Sinus Tachy,124.66699981689453,None,...,0,0,0,0,0,0,0,0,0,0
6,2188-11-12 13:03:00,0,62063368,NaN,NaN,36.700000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,0
7,2188-11-12 13:30:00,0,62063368,105.0,159.0,NaN,134.0,Sinus Tachy,123,None,...,0,0,0,0,0,0,0,0,0,0
8,2188-11-12 14:00:00,0,62063368,107.0,157.0,NaN,137.0,Sinus Tachy,123.66699981689453,None,...,0,0,0,0,0,0,0,0,0,0
9,2188-11-12 14:45:00,0,62063368,101.0,149.0,NaN,147.0,Sinus Tachy,117,None,...,0,0,0,0,0,0,0,0,0,0
10,2188-11-12 15:00:00,0,62063368,100.0,147.0,NaN,146.0,Sinus Tachy,115.66699981689453,None,...,0,0,0,0,0,0,0,0,0,0
11,2188-11-12 15:30:00,0,62063368,110.0,154.0,NaN,144.0,Sinus Tachy,124.66699981689453,None,...,0,0,0,0,0,0,0,0,0,0
12,2188-11-12 16:00:00,0,62063368,122.0,171.0,NaN,134.0,Sinus Tachy,138.33299255371094,None,...,0,0,0,0,0,0,0,0,0,0
13,2188-11-12 16:10:00,0,62063368,NaN,NaN,NaN,NaN,None,None,21,...,0,0,0,0,0,0,0,0,0,0
14,2188-11-12 17:00:00,0,62063368,62.0,116.0,NaN,142.0,Sinus Tachy,94,None,...,0,0,0,0,0,0,0,0,0,0
15,2188-11-12 18:00:00,0,62063368,84.0,136.0,NaN,129.0,Sinus Tachy,102,None,...,0,0,0,0,0,0,0,0,0,0
16,2188-11-12 18:15:00,0,62063368,70.0,122.0,NaN,127.0,Sinus Tachy,88,None,...,0,0,0,0,0,0,0,0,0,0
17,2188-11-12 18:30:00,0,62063368,62.0,109.0,NaN,127.0,Sinus Tachy,78,None,...,0,0,0,0,0,0,0,0,0,0
18,2188-11-12 19:00:00,0,62063368,79.0,130.0,NaN,123.0,Sinus Tachy,95,None,...,0,0,0,0,0,0,0,0,0,0
19,2188-11-12 20:00:00,0,62063368,61.0,109.0,37.944401,135.0,Sinus Tachy,77,None,...,0,0,0,0,0,0,0,0,0,0
20,2188-11-12 20:36:00,0,62063368,NaN,NaN,37.900000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,0
21,2188-11-12 21:00:00,0,62063368,73.0,125.0,NaN,135.0,Sinus Tachy,90,None,...,0,0,0,0,0,0,0,0,0,0
22,2188-11-12 21:16:00,0,62063368,NaN,NaN,NaN,NaN,None,None,21,...,0,0,0,0,0,0,0,0,0,0
23,2188-11-12 22:00:00,0,62063368,79.0,134.0,102.199997,137.0,Sinus Tachy,97,None,...,0,0,0,0,0,0,0,0,0,0
24,2188-11-12 22:04:00,0,62063368,NaN,NaN,37.800000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,0
25,2188-11-12 23:00:00,0,62063368,82.0,135.0,NaN,151.0,Sinus Tachy,99,23,...,0,0,0,0,0,0,0,0,0,0
26,2188-11-12 23:37:00,0,62063368,NaN,NaN,39.000000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,0
27,2188-11-13 00:00:00,0,62063368,61.0,102.0,38.666698,147.0,Sinus Tachy,75,None,...,0,0,0,0,0,0,0,0,0,0
28,2188-11-13 00:30:00,0,62063368,62.0,98.0,NaN,140.0,Sinus Tachy,74,None,...,0,0,0,0,0,0,0,0,0,0
29,2188-11-13 01:00:00,0,62063368,77.0,121.0,NaN,141.0,Sinus Tachy,92,None,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2188-11-13 09:45:00,0,62063368,55.0,71.0,NaN,116.0,Sinus Tachy,60,None,...,0,0,0,0,0,0,0,0,0,0
71,2188-11-13 09:50:00,0,62063368,52.0,66.0,NaN,114.0,None,57,None,...,0,0,0,0,0,0,0,0,0,0
72,2188-11-13 09:55:00,0,62063368,48.0,62.0,NaN,107.0,None,52,None,...,0,0,0,0,0,0,0,0,0,0
73,2188-11-13 10:00:00,0,62063368,50.0,66.0,NaN,102.0,Sinus Tachy,55,None,...,0,0,0,0,0,0,0,0,0,0
74,2188-11-13 10:05:00,0,62063368,67.0,95.0,NaN,133.0,None,75,None,...,0,0,0,0,0,0,0,0,0,0
75,2188-11-13 10:10:00,0,62063368,59.0,83.0,NaN,131.0,Sinus Tachy,66,None,...,0,0,0,0,0,0,0,0,0,0
76,2188-11-13 10:11:00,0,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,0
77,2188-11-13 10:15:00,0,62063368,55.0,74.0,NaN,121.0,Sinus Tachy,61,None,...,0,0,0,0,0,0,0,0,0,0
78,2188-11-13 10:20:00,0,62063368,48.0,65.0,NaN,113.0,Sinus Tachy,54,None,...,0,0,0,0,0,0,0,0,0,0
79,2188-11-13 10:23:00,0,62063368,50.0,71.0,NaN,98.0,Sinus Tachy,57,None,...,0,0,0,0,0,0,0,0,0,0
80,2188-11-13 10:24:00,0,62063368,48.0,61.0,NaN,88.0,Normal Sinus,53,None,...,0,0,0,0,0,0,0,0,0,0
81,2188-11-13 10:25:00,0,62063368,49.0,63.0,NaN,88.0,Sinus Tachy,54,None,...,0,0,0,0,0,0,0,0,0,0
82,2188-11-13 10:30:00,0,62063368,56.0,77.0,NaN,124.0,Sinus Tachy,62,None,...,0,0,0,0,0,0,0,0,0,0
83,2188-11-13 10:35:00,0,62063368,50.0,76.0,NaN,114.0,Sinus Tachy,58,None,...,0,0,0,0,0,0,0,0,0,0
84,2188-11-13 10:41:00,0,62063368,42.0,54.0,NaN,74.0,Normal Sinus,46,None,...,0,0,0,0,0,0,0,0,0,0
85,2188-11-13 10:45:00,0,62063368,65.0,89.0,NaN,128.0,Sinus Tachy,73,None,...,0,0,0,0,0,0,0,0,0,0
86,2188-11-13 10:50:00,0,62063368,75.0,105.0,NaN,141.0,Sinus Tachy,85,None,...,0,0,0,0,0,0,0,0,0,0
87,2188-11-13 10:55:00,0,62063368,77.0,109.0,NaN,147.0,Sinus Tachy,89,None,...,0,0,0,0,0,0,0,0,0,0
88,2188-11-13 11:00:00,0,62063368,75.0,107.0,NaN,145.0,Sinus Tachy,87,None,...,0,0,0,0,0,0,0,0,0,0
89,2188-11-13 11:05:00,0,62063368,67.0,101.0,NaN,141.0,Sinus Tachy,81,None,...,0,0,0,0,0,0,0,0,0,0
90,2188-11-13 11:07:00,0,62063368,NaN,NaN,36.800000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,0
91,2188-11-13 11:15:00,0,62063368,54.0,86.0,NaN,133.0,Sinus Tachy,67,None,...,0,0,0,0,0,0,0,0,0,0
92,2188-11-13 11:20:00,0,62063368,51.0,81.0,NaN,132.0,Sinus Tachy,63,None,...,0,0,0,0,0,0,0,0,0,0
93,2188-11-13 11:25:00,0,62063368,50.0,78.0,NaN,129.0,Sinus Tachy,61,None,...,0,0,0,0,0,0,0,0,0,0
94,2188-11-13 11:30:00,0,62063368,54.0,84.0,NaN,135.0,Sinus Tachy,66,None,...,0,0,0,0,0,0,0,0,0,0
95,2188-11-13 11:35:00,0,62063368,61.0,93.0,NaN,142.0,Sinus Tachy,73,None,...,0,0,0,0,0,0,0,0,0,0
96,2188-11-13 12:00:00,0,62063368,71.0,101.0,37.700001,149.0,Sinus Tachy,83,33,...,0,0,0,0,0,0,0,0,0,0
97,2188-11-13 12:30:00,0,62063368,71.0,101.0,NaN,152.0,Sinus Tachy,83,None,...,0,0,0,0,0,0,0,0,0,0
98,2188-11-13 13:00:00,0,62063368,70.0,101.0,100.760002,154.0,Sinus Tachy,83,None,...,0,0,0,0,0,0,0,0,0,0
99,2188-11-13 13:15:00,0,62063368,65.0,92.0,NaN,158.0,Sinus Tachy,76,None,...,0,0,0,0,0,0,0,0,0,0

In [25]:
categorical_variables = ['Heart rate rhythm']

# Convert categorical variable to 'categorical' type
data = to_categorical(data, categorical_variables)

In [26]:
# One-hot encode categorical variables
data = to_one_hot(data, categorical_variables)

In [27]:
data.iloc[:10]

,measurement_datetime,target,person_id,BP diastolic,BP systolic,Body temperature,Heart rate,Mean blood pressure,Mean pressure Respiratory system airway Calculated,Oxygen concentration breathed,...,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN,Heart rate rhythm_Idioventricular,Heart rate rhythm_Normal Sinus,Heart rate rhythm_Sinus Brady,Heart rate rhythm_Sinus Tachy
0,2188-11-12 10:00:00,0,62063368,88.0,146.0,36.388901,NaN,107.33300018310547,None,None,...,0,0,0,0,0,0,0,0,0,1
1,2188-11-12 10:30:00,0,62063368,95.0,140.0,NaN,134.0,110,None,None,...,0,0,0,0,0,0,0,0,0,1
2,2188-11-12 10:45:00,0,62063368,97.0,144.0,NaN,134.0,112.66699981689453,None,None,...,0,0,0,0,0,0,0,0,0,1
3,2188-11-12 11:00:00,0,62063368,91.0,140.0,NaN,134.0,107.33300018310547,None,None,...,0,0,0,0,0,0,0,0,0,1
4,2188-11-12 12:00:00,0,62063368,98.0,139.0,36.444401,135.0,111.66699981689453,None,None,...,0,0,0,0,0,0,0,0,0,1
5,2188-11-12 13:00:00,0,62063368,108.0,158.0,36.666698,134.0,124.66699981689453,None,.44999998807907104,...,0,0,0,0,0,0,0,0,0,1
6,2188-11-12 13:03:00,0,62063368,NaN,NaN,36.700000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,0
7,2188-11-12 13:30:00,0,62063368,105.0,159.0,NaN,134.0,123,None,.5,...,0,0,0,0,0,0,0,0,0,1
8,2188-11-12 14:00:00,0,62063368,107.0,157.0,NaN,137.0,123.66699981689453,None,.5,...,0,0,0,0,0,0,0,0,0,1
9,2188-11-12 14:45:00,0,62063368,101.0,149.0,NaN,147.0,117,None,None,...,0,0,0,0,0,0,0,0,0,1

### Data enhancement

#### Add rolling mean

In [28]:
from datetime import timedelta

def add_avg(row, df, time, column):
    filter_df = df[(df['measurement_datetime'] >= (row['measurement_datetime']-timedelta(hours=time))) & (df['measurement_datetime'] < row['measurement_datetime'])]
    try:
        return filter_df[column].mean()
    except:
        return float('nan')

In [29]:
df_rm = data

df_rm['Respiratory rate avg h-2'] = df_rm.apply(lambda x: add_avg(x, df_rm, 2, 'Respiratory rate'), axis=1)
df_rm

,measurement_datetime,target,person_id,BP diastolic,BP systolic,Body temperature,Heart rate,Mean blood pressure,Mean pressure Respiratory system airway Calculated,Oxygen concentration breathed,...,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN,Heart rate rhythm_Idioventricular,Heart rate rhythm_Normal Sinus,Heart rate rhythm_Sinus Brady,Heart rate rhythm_Sinus Tachy,Respiratory rate avg h-2
0,2188-11-12 10:00:00,0,62063368,88.0,146.0,36.388901,NaN,107.33300018310547,None,None,...,0,0,0,0,0,0,0,0,1,NaN
1,2188-11-12 10:30:00,0,62063368,95.0,140.0,NaN,134.0,110,None,None,...,0,0,0,0,0,0,0,0,1,3.800000e+01
2,2188-11-12 10:45:00,0,62063368,97.0,144.0,NaN,134.0,112.66699981689453,None,None,...,0,0,0,0,0,0,0,0,1,1.917000e+03
3,2188-11-12 11:00:00,0,62063368,91.0,140.0,NaN,134.0,107.33300018310547,None,None,...,0,0,0,0,0,0,0,0,1,1.278137e+05
4,2188-11-12 12:00:00,0,62063368,98.0,139.0,36.444401,135.0,111.66699981689453,None,None,...,0,0,0,0,0,0,0,0,1,9.586035e+06
5,2188-11-12 13:00:00,0,62063368,108.0,158.0,36.666698,134.0,124.66699981689453,None,.44999998807907104,...,0,0,0,0,0,0,0,0,1,2.019000e+03
6,2188-11-12 13:03:00,0,62063368,NaN,NaN,36.700000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,1.916000e+03
7,2188-11-12 13:30:00,0,62063368,105.0,159.0,NaN,134.0,123,None,.5,...,0,0,0,0,0,0,0,0,1,NaN
8,2188-11-12 14:00:00,0,62063368,107.0,157.0,NaN,137.0,123.66699981689453,None,.5,...,0,0,0,0,0,0,0,0,1,NaN
9,2188-11-12 14:45:00,0,62063368,101.0,149.0,NaN,147.0,117,None,None,...,0,0,0,0,0,0,0,0,1,NaN
10,2188-11-12 15:00:00,0,62063368,100.0,147.0,NaN,146.0,115.66699981689453,None,None,...,0,0,0,0,0,0,0,0,1,NaN
11,2188-11-12 15:30:00,0,62063368,110.0,154.0,NaN,144.0,124.66699981689453,None,None,...,0,0,0,0,0,0,0,0,1,7.836060e+06
12,2188-11-12 16:00:00,0,62063368,122.0,171.0,NaN,134.0,138.33299255371094,None,None,...,0,0,0,0,0,0,0,0,1,8.606010e+06
13,2188-11-12 16:10:00,0,62063368,NaN,NaN,NaN,NaN,None,21,1,...,0,0,0,0,0,0,0,0,0,1.060098e+07
14,2188-11-12 17:00:00,0,62063368,62.0,116.0,NaN,142.0,94,None,None,...,0,0,0,0,0,0,0,0,1,1.009841e+07
15,2188-11-12 18:00:00,0,62063368,84.0,136.0,NaN,129.0,102,None,.60000002384185791,...,0,0,0,0,0,0,0,0,1,1.207727e+05
16,2188-11-12 18:15:00,0,62063368,70.0,122.0,NaN,127.0,88,None,None,...,0,0,0,0,0,0,0,0,1,9.105000e+02
17,2188-11-12 18:30:00,0,62063368,62.0,109.0,NaN,127.0,78,None,None,...,0,0,0,0,0,0,0,0,1,6.070833e+04
18,2188-11-12 19:00:00,0,62063368,79.0,130.0,NaN,123.0,95,None,None,...,0,0,0,0,0,0,0,0,1,4.553131e+06
19,2188-11-12 20:00:00,0,62063368,61.0,109.0,37.944401,135.0,77,None,None,...,0,0,0,0,0,0,0,0,1,5.313104e+06
20,2188-11-12 20:36:00,0,62063368,NaN,NaN,37.900000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,8.615000e+02
21,2188-11-12 21:00:00,0,62063368,73.0,125.0,NaN,135.0,90,None,None,...,0,0,0,0,0,0,0,0,1,NaN
22,2188-11-12 21:16:00,0,62063368,NaN,NaN,NaN,NaN,None,21,.60000002384185791,...,0,0,0,0,0,0,0,0,0,NaN
23,2188-11-12 22:00:00,0,62063368,79.0,134.0,102.199997,137.0,97,None,None,...,0,0,0,0,0,0,0,0,1,NaN
24,2188-11-12 22:04:00,0,62063368,NaN,NaN,37.800000,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,NaN
25,2188-11-12 23:00:00,0,62063368,82.0,135.0,NaN,151.0,99,23,1,...,0,0,0,0,0,0,0,0,1,NaN
26,2188-11-12 23:37:00,0,62063368,NaN,NaN,39.000000,NaN,None,None,86,...,0,0,0,0,0,0,0,0,0,NaN
27,2188-11-13 00:00:00,0,62063368,61.0,102.0,38.666698,147.0,75,None,None,...,0,0,0,0,0,0,0,0,1,NaN
28,2188-11-13 00:30:00,0,62063368,62.0,98.0,NaN,140.0,74,None,None,...,0,0,0,0,0,0,0,0,1,NaN
29,2188-11-13 01:00:00,0,62063368,77.0,121.0,NaN,141.0,92,None,None,...,0,0,0,0,0,0,0,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,2188-11-22 11:06:00,0,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,2.366667e+02
524,2188-11-22 11:30:00,0,62063368,72.0,85.0,35.700001,96.0,76,None,None,...,0,0,0,0,0,0,1,0,0,NaN
525,2188-11-22 12:00:00,1,62063368,75.0,83.0,35.799999,99.0,78,27,.60000002384185791,...,0,0,0,0,0,0,1,0,0,NaN
526,2188-11-22 12:30:00,1,62063368,71.0,83.0,36.000000,96.0,72,None,None,...,0,0,0,0,0,0,1,0,0,NaN
527,2188-11-22 12:45:00,1,62063368,NaN,NaN,NaN,NaN,None,None,1,...,0,0,0,0,0,0,0,0,0,NaN
528,2188-11-22 13:00:00,1,62063368,77.0,93.0,96.800003,91.0,82,None,None,...,0,0,0,0,0,0,1,0,0,NaN
529,2188-11-22 13:26:00,1,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,NaN
530,2188-11-22 13:30:00,1,62063368,81.0,101.0,NaN,94.0,87,None,None,...,0,0,0,0,0,0,1,0,0,NaN
531,2188-11-22 14:00:00,1,62063368,81.0,104.0,96.800003,88.0,89,None,None,...,0,0,0,0,0,0,1,0,0,NaN
532,2188-11-22 14:10:00,1,62063368,NaN,NaN,NaN,NaN,None,29,1,...,0,0,0,0,0,0,0,0,0,NaN
533,2188-11-22 15:00:00,1,62063368,49.0,61.0,96.800003,99.0,52,None,None,...,0,0,0,0,0,0,1,0,0,NaN
534,2188-11-22 15:10:00,1,62063368,NaN,NaN,NaN,NaN,None,40,1,...,0,0,0,0,0,0,0,0,0,NaN
535,2188-11-22 15:15:00,1,62063368,53.0,74.0,NaN,103.0,61,None,None,...,0,0,0,0,0,0,0,0,1,NaN
536,2188-11-22 15:25:00,1,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,NaN
537,2188-11-22 15:30:00,1,62063368,60.0,117.0,NaN,100.0,74,None,None,...,0,0,0,0,0,0,0,0,1,NaN
538,2188-11-22 15:38:00,1,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,NaN
539,2188-11-22 15:45:00,1,62063368,43.0,82.0,NaN,86.0,53,None,None,...,0,0,0,0,0,0,0,0,0,NaN
540,2188-11-22 16:00:00,1,62063368,48.0,96.0,NaN,107.0,59,40,1,...,0,0,0,0,0,0,0,0,1,NaN
541,2188-11-22 16:05:00,1,62063368,39.0,80.0,NaN,73.0,48,None,None,...,0,0,0,0,0,0,1,0,0,NaN
542,2188-11-22 16:15:00,1,62063368,46.0,87.0,NaN,113.0,56,None,None,...,0,0,0,0,0,0,0,0,1,NaN
543,2188-11-22 16:19:00,1,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,NaN
544,2188-11-22 16:30:00,1,62063368,NaN,NaN,35.799999,NaN,None,None,None,...,0,0,0,0,0,0,1,0,0,NaN
545,2188-11-22 17:00:00,1,62063368,56.0,104.0,96.260002,134.0,69,42,1,...,0,0,0,0,0,0,0,0,1,NaN
546,2188-11-22 17:26:00,1,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,NaN
547,2188-11-22 17:30:00,1,62063368,36.0,61.0,NaN,96.0,43,None,None,...,0,0,0,0,0,0,0,0,0,NaN
548,2188-11-22 18:00:00,1,62063368,38.0,51.0,37.799999,99.0,42,None,None,...,0,0,0,0,0,0,1,0,0,NaN
549,2188-11-22 18:30:00,1,62063368,55.0,74.0,98.599998,142.0,61,None,None,...,0,0,0,0,0,0,0,0,1,NaN
550,2188-11-22 18:45:00,1,62063368,46.0,60.0,NaN,124.0,51,None,None,...,0,0,0,0,0,1,0,0,0,NaN
551,2188-11-22 19:00:00,1,62063368,0.0,0.0,NaN,0.0,26,None,None,...,0,0,0,0,0,0,0,0,0,NaN
552,2188-11-22 19:16:00,1,62063368,NaN,NaN,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,NaN

### Create Dataset

In [30]:
def create_dataset(list_patients, verbose=False):
    """Create list of dataset given a list of patients.
    
    Parameters
    ----------
    list_patients : list of int
        List of patients ID.
    verbose : bool
        Verbosity level.
    
    Returns
    -------
    frame : list of pd.DataFrame
        List of datasets, each corresponding to a patient.
    """
    frame = []
    
    if not isinstance(list_patients, list):
        list_patients = [list_patients]
        
    n_patients = len(list_patients)
    
    # Meta data
    if verbose:
        msg = 'Extracting meta data...'
        print('{:100s}'.format(msg), end='\r')
            
    query = """
    select
        distinct p.person_id, p.gender_source_value gender, p.race_source_value race
    from
        person p
        ;"""

    meta = pd.read_sql_query(query, conn)

    # Convert categorical variable to 'categorical' type
    categorical_variables = ['gender', 'race']
    meta = to_categorical(meta, categorical_variables)
    meta = to_one_hot(meta, categorical_variables)
    # One-hot column names
    meta_names = meta.columns
    
    for i, patient in enumerate(list_patients):
        if verbose:
            base_msg = 'Patient {} [{}/{}]'.format(patient, i+1, n_patients)
            msg = base_msg
            print('{:100s}'.format(msg), end='\r')
        
        # Measures
        if verbose:
            add_msg = 'Extracting measures...'
            msg = base_msg + ' - ' + add_msg
            print('{:100s}'.format(msg), end='\r')
            
        query = """
        select
            distinct m.person_id, m.measurement_datetime, m.measurement_concept_name, m.value_source_value, m.unit_source_value, d.death_datetime
        from 
            measurement m 
        left join 
            death d on d.person_id = m.person_id
        where
            measurement_concept_id IN
            (3022318,   -- heart_rhythm
             3024171,   -- respiratory_rate
             3028354,   -- vent_settings
             3012888,   -- diastolic_bp
             3027598,   -- map_bp
             3004249,   -- systolic_bp
             3027018,   -- heart_rate
             3020891,   -- temperature
             3016502,   -- spo2
             3020716,   -- fio2
             3032652    -- glasgow coma scale
            )
        and m.person_id = {}
        order by measurement_datetime
            ;""".format(patient)

        df = pd.read_sql_query(query, conn)
        
        if verbose:
            add_msg = 'Formatting data...'
            msg = base_msg + ' - ' + add_msg
            print('{:100s}'.format(msg), end='\r')

        df['death_datetime'] = pd.to_datetime(df['death_datetime'])
        df['measurement_datetime'] = pd.to_datetime(df['measurement_datetime'])

        df['target'] = df.apply(define_target_value, axis=1)

        df = df.pivot_table(index= ['measurement_datetime','target','person_id'], columns='measurement_concept_name', values='value_source_value', aggfunc='sum')
        df.reset_index(inplace=True)
        df.columns.name = None
        df[['BP diastolic','BP systolic','Body temperature','Heart rate','Mean blood pressure','Oxygen saturation in Arterial blood','Respiratory rate']] = df[['BP diastolic','BP systolic','Body temperature','Heart rate','Mean blood pressure','Oxygen saturation in Arterial blood','Respiratory rate']].apply(pd.to_numeric, errors='ignore')
        
        
        # Convert 'Heart rate rhythm' to categorical and one-hot encode it
        categorical_variables = ['Heart rate rhythm']
        df = to_categorical(df, categorical_variables)
        df = to_one_hot(df, categorical_variables)
        
        # Add meta data to measures
        if verbose:
            add_msg = 'Adding meta data...'
            msg = base_msg + ' - ' + add_msg
            print('{:100s}'.format(msg), end='\r')
            
        meta_idx = (meta['person_id'] == patient)
        for meta_name in meta_names:
            df[meta_name] = meta[meta_idx][meta_name].values.squeeze()
        
        # Add additional features
        if verbose:
            add_msg = 'Adding additional features...'
            msg = base_msg + ' - ' + add_msg
            print('{:100s}'.format(msg), end='\r')
                  
        df['Respiratory rate avg h-2'] = df.apply(lambda x: add_avg(x, df, 2, 'Respiratory rate'), axis=1)
        
        frame.append(df)
        
        if verbose:
            msg = 'Patient {} done.'.format(patient)
            print('{:100s}'.format(msg), end='\r')
            print('')
    
    return frame

### Example on a patient who indeed died

In [31]:
query = """SELECT * FROM death LIMIT 10;"""
df = pd.read_sql_query(query, conn)

In [38]:
df

,person_id,death_date,death_datetime,death_type_concept_id,cause_concept_id,cause_source_value,cause_source_concept_id
0,62063368,2188-11-22,2188-11-22 12:00:00,38003569,None,None,None
1,62063384,2198-02-18,2198-02-18 03:55:00,38003569,None,None,None
2,62063393,2182-07-31,2182-07-31 06:45:00,38003569,None,None,None
3,62063403,2145-03-19,2145-03-19 07:00:00,38003569,None,None,None
4,62063425,2156-08-26,2156-08-26 12:00:00,38003569,None,None,None
5,62063429,2182-02-28,2182-02-28 14:50:00,38003569,None,None,None
6,62063436,2147-11-11,2147-11-11 22:57:00,38003569,None,None,None
7,62063437,2171-06-27,2171-06-27 17:10:00,38003569,None,None,None
8,62063444,2123-07-16,2123-07-16 23:19:00,38003569,None,None,None
9,62063447,2129-12-20,2129-12-20 01:37:00,38003569,None,None,None

In [34]:
dataset = create_dataset(62063368, verbose=True)

Patient 62063368 done.

In [ ]:
dataset = create_dataset(list_patient_test, verbose=True)

In [36]:
dataset[0]

,measurement_datetime,target,person_id,level_3,BP diastolic,BP systolic,Body temperature,Heart rate,Mean blood pressure,Mean pressure Respiratory system airway Calculated,...,race_PORTUGUESE,race_SOUTH AMERICAN,race_UNABLE TO OBTAIN,race_UNKNOWN/NOT SPECIFIED,race_WHITE,race_WHITE - BRAZILIAN,race_WHITE - EASTERN EUROPEAN,race_WHITE - OTHER EUROPEAN,race_WHITE - RUSSIAN,Respiratory rate avg h-2
0,2188-11-12 10:00:00,0,62063368,value_source_value,88.0,146.0,36.38890075683593897.5,NaN,107.333,None,...,0,0,0,0,0,0,0,0,0,NaN
1,2188-11-12 10:30:00,0,62063368,value_source_value,95.0,140.0,None,134.0,110,None,...,0,0,0,0,0,0,0,0,0,38.000000
2,2188-11-12 10:45:00,0,62063368,value_source_value,97.0,144.0,None,134.0,112.667,None,...,0,0,0,0,0,0,0,0,0,36.000000
3,2188-11-12 11:00:00,0,62063368,value_source_value,91.0,140.0,None,134.0,107.333,None,...,0,0,0,0,0,0,0,0,0,37.666667
4,2188-11-12 12:00:00,0,62063368,value_source_value,98.0,139.0,36.44440078735351697.599998474121094,135.0,111.667,None,...,0,0,0,0,0,0,0,0,0,38.250000
5,2188-11-12 13:00:00,0,62063368,value_source_value,108.0,158.0,36.6667,134.0,124.667,None,...,0,0,0,0,0,0,0,0,0,39.000000
6,2188-11-12 13:03:00,0,62063368,value_source_value,NaN,NaN,36.7,NaN,None,None,...,0,0,0,0,0,0,0,0,0,35.000000
7,2188-11-12 13:30:00,0,62063368,value_source_value,105.0,159.0,None,134.0,123,None,...,0,0,0,0,0,0,0,0,0,35.000000
8,2188-11-12 14:00:00,0,62063368,value_source_value,107.0,157.0,None,137.0,123.667,None,...,0,0,0,0,0,0,0,0,0,33.666667
9,2188-11-12 14:45:00,0,62063368,value_source_value,101.0,149.0,None,147.0,117,None,...,0,0,0,0,0,0,0,0,0,32.333333
10,2188-11-12 15:00:00,0,62063368,value_source_value,100.0,147.0,None,146.0,115.667,None,...,0,0,0,0,0,0,0,0,0,34.750000
11,2188-11-12 15:30:00,0,62063368,value_source_value,110.0,154.0,None,144.0,124.667,None,...,0,0,0,0,0,0,0,0,0,36.750000
12,2188-11-12 16:00:00,0,62063368,value_source_value,122.0,171.0,None,134.0,138.333,None,...,0,0,0,0,0,0,0,0,0,38.750000
13,2188-11-12 16:10:00,0,62063368,value_source_value,NaN,NaN,None,NaN,None,21,...,0,0,0,0,0,0,0,0,0,39.250000
14,2188-11-12 17:00:00,0,62063368,value_source_value,6278.0,116128.0,None,142.0,9480,None,...,0,0,0,0,0,0,0,0,0,87.500000
15,2188-11-12 18:00:00,0,62063368,value_source_value,84.0,136.0,None,129.0,102,None,...,0,0,0,0,0,0,0,0,0,96.333333
16,2188-11-12 18:15:00,0,62063368,value_source_value,70.0,122.0,None,127.0,88,None,...,0,0,0,0,0,0,0,0,0,19.500000
17,2188-11-12 18:30:00,0,62063368,value_source_value,62.0,109.0,None,127.0,78,None,...,0,0,0,0,0,0,0,0,0,21.333333
18,2188-11-12 19:00:00,0,62063368,value_source_value,79.0,130.0,None,123.0,95,None,...,0,0,0,0,0,0,0,0,0,22.000000
19,2188-11-12 20:00:00,0,62063368,value_source_value,61.0,109.0,37.944400787353516100.30000305175781,135.0,77,None,...,0,0,0,0,0,0,0,0,0,21.750000
20,2188-11-12 20:36:00,0,62063368,value_source_value,NaN,NaN,37.9,NaN,None,None,...,0,0,0,0,0,0,0,0,0,20.000000
21,2188-11-12 21:00:00,0,62063368,value_source_value,73.0,125.0,None,135.0,90,None,...,0,0,0,0,0,0,0,0,0,NaN
22,2188-11-12 21:16:00,0,62063368,value_source_value,NaN,NaN,None,NaN,None,21,...,0,0,0,0,0,0,0,0,0,NaN
23,2188-11-12 22:00:00,0,62063368,value_source_value,79.0,134.0,102.2,137.0,97,None,...,0,0,0,0,0,0,0,0,0,NaN
24,2188-11-12 22:04:00,0,62063368,value_source_value,NaN,NaN,37.8,NaN,None,None,...,0,0,0,0,0,0,0,0,0,NaN
25,2188-11-12 23:00:00,0,62063368,value_source_value,82.0,135.0,None,151.0,99,23,...,0,0,0,0,0,0,0,0,0,NaN
26,2188-11-12 23:37:00,0,62063368,value_source_value,NaN,NaN,39,NaN,None,None,...,0,0,0,0,0,0,0,0,0,NaN
27,2188-11-13 00:00:00,0,62063368,value_source_value,61.0,102.0,38.666698455810547101.59999847412109,147.0,75,None,...,0,0,0,0,0,0,0,0,0,NaN
28,2188-11-13 00:30:00,0,62063368,value_source_value,62.0,98.0,None,140.0,74,None,...,0,0,0,0,0,0,0,0,0,NaN
29,2188-11-13 01:00:00,0,62063368,value_source_value,77.0,121.0,None,141.0,92,None,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,2188-11-22 11:06:00,0,62063368,value_source_value,NaN,NaN,None,NaN,None,None,...,0,0,0,0,0,0,0,0,0,5.666667
524,2188-11-22 11:30:00,0,62063368,value_source_value,72.0,85.0,35.70000076293945396.260002136230469,96.0,76,None,...,0,0,0,0,0,0,0,0,0,5.666667
525,2188-11-22 12:00:00,1,62063368,value_source_value,75.0,83.0,35.79999923706054796.44000244140625,99.0,78,27,...,0,0,0,0,0,0,0,0,0,5.500000
526,2188-11-22 12:30:00,1,62063368,value_source_value,71.0,83.0,3696.8,96.0,72,None,...,0,0,0,0,0,0,0,0,0,2510.000000
527,2188-11-22 12:45:00,1,62063368,value_source_value,NaN,NaN,None,NaN,None,None,...,0,0,0,0,0,0,0,0,0,2510.750000
528,2188-11-22 13:00:00,1,62063368,value_source_value,77.0,93.0,96.8,91.0,82,None,...,0,0,0,0,0,0,0,0,0,2510.750000
529,2188-11-22 13:26:00,1,62063368,value_source_value,NaN,NaN,None,NaN,None,None,...,0,0,0,0,0,0,0,0,0,2510.750000
530,2188-11-22 13:30:00,1,62063368,value_source_value,81.0,101.0,None,94.0,87,None,...,0,0,0,0,0,0,0,0,0,2510.750000
531,2188-11-22 14:00:00,1,62063368,value_source_value,81.0,104.0,96.8,88.0,89,None,...,0,0,0,0,0,0,0,0,0,2509.500000
532,2188-11-22 14:10:00,1,62063368,value_source_value,NaN,NaN,None,NaN,None,29,...,0,0,0,0,0,0,0,0,0,7.500000
533,2188-11-22 15:00:00,1,62063368,value_source_value,49.0,61.0,96.8,99.0,52,None,...,0,0,0,0,0,0,0,0,0,6.666667
534,2188-11-22 15:10:00,1,62063368,value_source_value,NaN,NaN,None,NaN,None,40,...,0,0,0,0,0,0,0,0,0,8.333333
535,2188-11-22 15:15:00,1,62063368,value_source_value,53.0,74.0,None,103.0,61,None,...,0,0,0,0,0,0,0,0,0,11.000000
536,2188-11-22 15:25:00,1,62063368,value_source_value,NaN,NaN,None,NaN,None,None,...,0,0,0,0,0,0,0,0,0,12.800000
537,2188-11-22 15:30:00,1,62063368,value_source_value,60.0,117.0,None,100.0,74,None,...,0,0,0,0,0,0,0,0,0,12.800000
538,2188-11-22 15:38:00,1,62063368,value_source_value,NaN,NaN,None,NaN,None,None,...,0,0,0,0,0,0,0,0,0,12.800000
539,2188-11-22 15:45:00,1,62063368,value_source_value,43.0,82.0,None,86.0,53,None,...,0,0,0,0,0,0,0,0,0,12.800000
540,2188-11-22 16:00:00,1,62063368,value_source_value,48.0,96.0,None,107.0,59,40,...,0,0,0,0,0,0,0,0,0,14.166667
541,2188-11-22 16:05:00,1,62063368,value_source_value,39.0,80.0,None,73.0,48,None,...,0,0,0,0,0,0,0,0,0,367.000000
542,2188-11-22 16:15:00,1,62063368,value_source_value,46.0,87.0,None,113.0,56,None,...,0,0,0,0,0,0,0,0,0,318.428571
543,2188-11-22 16:19:00,1,62063368,value_source_value,NaN,NaN,None,NaN,None,None,...,0,0,0,0,0,0,0,0,0,282.000000
544,2188-11-22 16:30:00,1,62063368,value_source_value,NaN,NaN,35.79999923706054796.44000244140625,NaN,None,None,...,0,0,0,0,0,0,0,0,0,282.000000
545,2188-11-22 17:00:00,1,62063368,value_source_value,56.0,104.0,96.26000213623046935.700000762939453,134.0,69,42,...,0,0,0,0,0,0,0,0,0,282.000000
546,2188-11-22 17:26:00,1,62063368,value_source_value,NaN,NaN,None,NaN,None,None,...,0,0,0,0,0,0,0,0,0,371.500000
547,2188-11-22 17:30:00,1,62063368,value_source_value,36.0,61.0,None,96.0,43,None,...,0,0,0,0,0,0,0,0,0,371.500000
548,2188-11-22 18:00:00,1,62063368,value_source_value,38.0,51.0,37.799999237060547100.04000091552734,99.0,42,None,...,0,0,0,0,0,0,0,0,0,447.000000
549,2188-11-22 18:30:00,1,62063368,value_source_value,55.0,74.0,98.6,142.0,61,None,...,0,0,0,0,0,0,0,0,0,28.333333
550,2188-11-22 18:45:00,1,62063368,value_source_value,46.0,60.0,None,124.0,51,None,...,0,0,0,0,0,0,0,0,0,28.500000
551,2188-11-22 19:00:00,1,62063368,value_source_value,0.0,0.0,None,0.0,26,None,...,0,0,0,0,0,0,0,0,0,28.200000
552,2188-11-22 19:16:00,1,62063368,value_source_value,NaN,NaN,None,NaN,None,None,...,0,0,0,0,0,0,0,0,0,28.200000

#### Export the dataset

In [ ]:
pd.concat(dataset).to_csv("dataset_omop", sep='\t', encoding='utf-8')