# OMOP Create Dataset

In [341]:
# Get your credentials
import numpy as np
omop_login = np.load('full_omop_login.npy').item()

# Open a connection to OMOP
from fleming_lib.tools import connect_to_omop
conn = connect_to_omop(login_dict=omop_login)

# Get ready for SQL query processing
import pandas as pd
import datetime

## Select list of patients

### SQL requests


- not be "limited" (Concept_id: 2001018843 and 2001030812 and 4127294)

In [320]:
query = """
select
    distinct person_id
from 
    measurement 
where 
    measurement_source_concept_id in (2001018843, 2001030812, 4127294)  
    ;"""

limitation = pd.read_sql_query(query, conn)

- Age >= 15 
- Processed only by intensive care unit

In [323]:
query = """
select
    distinct p.person_id
from 
    person p
    
    inner join

    (select 
        person_id, min(visit_start_date) as first_visit_date
    from
        visit_occurrence
    where
        visit_source_value = 'EMERGENCY'
    group by 
        person_id) v
    
    on p.person_id = v.person_id
    
where
    (v.first_visit_date - p.birth_datetime) >= 15 * 365.25
    ;"""

icu_and_age = pd.read_sql_query(query, conn)

### Cohort fusion

In [324]:
list_patient = list(set(icu_and_age.person_id) & set(limitation.person_id))
list_patient

[62063367,
 62063368,
 62063369,
 62063370,
 62063371,
 62063373,
 62063374,
 62063377,
 62063379,
 62063382,
 62063383,
 62063384,
 62063385,
 62063389,
 62063390,
 62063391,
 62063392,
 62063395,
 62063396,
 62063398,
 62063400,
 62063403,
 62063405,
 62063406,
 62063410,
 62063411,
 62063412,
 62063416,
 62063418,
 62063419,
 62063420,
 62063421,
 62063422,
 62063423,
 62063425,
 62063426,
 62063428,
 62063429,
 62063430,
 62063431,
 62063433,
 62063435,
 62063436,
 62063437,
 62063438,
 62063439,
 62063440,
 62063441,
 62063443,
 62063444,
 62063445,
 62063446,
 62063447,
 62063449,
 62063452,
 62063453,
 62063454,
 62063456,
 62063457,
 62063458,
 62063459,
 62063461,
 62063462,
 62063463,
 62063464,
 62063465,
 62063466,
 62063468,
 62063469,
 62063470,
 62063471,
 62063474,
 62063478,
 62063482,
 62063483,
 62063484,
 62063485,
 62063486,
 62063487,
 62063488,
 62063489,
 62063490,
 62063492,
 62063494,
 62063495,
 62063496,
 62063497,
 62063499,
 62063501,
 62063502,
 62063503,
 62063507,
 62063508,
 62063509,
 62063512,
 62063513,
 62063514,
 62063516,
 62063518,
 62063519,
 62063520,
 62063521,
 62063522,
 62063523,
 62063525,
 62063526,
 62063528,
 62063530,
 62063531,
 62063533,
 62063534,
 62063535,
 62063537,
 62063538,
 62063539,
 62063541,
 62063542,
 62063545,
 62063548,
 62063549,
 62063551,
 62063553,
 62063556,
 62063559,
 62063561,
 62063563,
 62063564,
 62063565,
 62063566,
 62063567,
 62063568,
 62063570,
 62063571,
 62063574,
 62063579,
 62063580,
 62063581,
 62063582,
 62063583,
 62063584,
 62063590,
 62063591,
 62063596,
 62063598,
 62063600,
 62063602,
 62063603,
 62063604,
 62063606,
 62063607,
 62063608,
 62063609,
 62063610,
 62063611,
 62063615,
 62063617,
 62063618,
 62063620,
 62063621,
 62063622,
 62063626,
 62063627,
 62063628,
 62063633,
 62063634,
 62063636,
 62063637,
 62063640,
 62063642,
 62063643,
 62063644,
 62063645,
 62063646,
 62063648,
 62063649,
 62063652,
 62063654,
 62063657,
 62063659,
 62063660,
 62063661,
 62063664,
 62063665,
 62063668,
 62063670,
 62063673,
 62063674,
 62063675,
 62063676,
 62063678,
 62063680,
 62063682,
 62063684,
 62063685,
 62063686,
 62063688,
 62063690,
 62063691,
 62063692,
 62063694,
 62063696,
 62063698,
 62063701,
 62063702,
 62063705,
 62063707,
 62063708,
 62063710,
 62063711,
 62063713,
 62063715,
 62063716,
 62063718,
 62063719,
 62063721,
 62063722,
 62063723,
 62063725,
 62063726,
 62063727,
 62063728,
 62063729,
 62063732,
 62063733,
 62063734,
 62063735,
 62063736,
 62063738,
 62063739,
 62063740,
 62063741,
 62063742,
 62063744,
 62063749,
 62063750,
 62063752,
 62063753,
 62063755,
 62063757,
 62063761,
 62063762,
 62063764,
 62063765,
 62063766,
 62063769,
 62063772,
 62063775,
 62063776,
 62063777,
 62063779,
 62063780,
 62063783,
 62063784,
 62063785,
 62063786,
 62063787,
 62063788,
 62063789,
 62063792,
 62063795,
 62063796,
 62063797,
 62063799,
 62063800,
 62063802,
 62063805,
 62063808,
 62063810,
 62063816,
 62063818,
 62063820,
 62063821,
 62063822,
 62063823,
 62063824,
 62063825,
 62063827,
 62063829,
 62063830,
 62063831,
 62063832,
 62063833,
 62063834,
 62063835,
 62063838,
 62063841,
 62063843,
 62063845,
 62063848,
 62063849,
 62063850,
 62063851,
 62063852,
 62063853,
 62063854,
 62063855,
 62063856,
 62063859,
 62063860,
 62063861,
 62063864,
 62063865,
 62063866,
 62063867,
 62063869,
 62063870,
 62063872,
 62063874,
 62063875,
 62063879,
 62063884,
 62063885,
 62063886,
 62063888,
 62063889,
 62063890,
 62063891,
 62063896,
 62063897,
 62063898,
 62063899,
 62063901,
 62063902,
 62063904,
 62063905,
 62063906,
 62063907,
 62063909,
 62063910,
 62063911,
 62063912,
 62063913,
 62063915,
 62063916,
 62063917,
 62063920,
 62063921,
 62063922,
 62063925,
 62063926,
 62063927,
 62063931,
 62063932,
 62063935,
 62063936,
 62063937,
 62063939,
 62063940,
 62063941,
 62063942,
 62063944,
 62063947,
 62063948,
 62063949,
 62063950,
 62063952,
 62063955,
 62063956,
 62063957,
 62063958,
 62063961,
 62063962,
 62063963,
 62063964,
 62063965,
 62063966,
 62063967,
 62063968,
 62063969,
 62063972,
 62063974,
 62063975,
 62063977,
 62063978,
 62063979,
 62063980,
 62063981,
 62063982,
 62063986,
 62063988,
 62063990,
 62063992,
 62063993,
 62063994,
 62063998,
 62064002,
 62064003,
 62064004,
 62064006,
 62064008,
 62064011,
 62064012,
 62064017,
 62064019,
 62064020,
 62064025,
 62064027,
 62064028,
 62064029,
 62064030,
 62064031,
 62064032,
 62064033,
 62064034,
 62064035,
 62064036,
 62064039,
 62064040,
 62064041,
 62064042,
 62064044,
 62064045,
 62064046,
 62064047,
 62064048,
 62064051,
 62064052,
 62064055,
 62064056,
 62064060,
 62064064,
 62064066,
 62064067,
 62064070,
 62064071,
 62064073,
 62064075,
 62064076,
 62064079,
 62064080,
 62064082,
 62064083,
 62064085,
 62064087,
 62064088,
 62064090,
 62064091,
 62064093,
 62064094,
 62064095,
 62064097,
 62064098,
 62064099,
 62064100,
 62064101,
 62064104,
 62064105,
 62064106,
 62064107,
 62064108,
 62064111,
 62064114,
 62064116,
 62064118,
 62064120,
 62064121,
 62064122,
 62064123,
 62064124,
 62064125,
 62064126,
 62064127,
 62064128,
 62064129,
 62064132,
 62064133,
 62064134,
 62064138,
 62064139,
 62064141,
 62064142,
 62064145,
 62064147,
 62064149,
 62064150,
 62064151,
 62064152,
 62064153,
 62064156,
 62064157,
 62064158,
 62064159,
 62064160,
 62064161,
 62064162,
 62064163,
 62064166,
 62064167,
 62064168,
 62064170,
 62064171,
 62064174,
 62064178,
 62064179,
 62064180,
 62064183,
 62064185,
 62064186,
 62064188,
 62064189,
 62064191,
 62064196,
 62064197,
 62064198,
 62064199,
 62064200,
 62064202,
 62064203,
 62064205,
 62064207,
 62064208,
 62064209,
 62064210,
 62064211,
 62064216,
 62064218,
 62064219,
 62064220,
 62064223,
 62064224,
 62064225,
 62064227,
 62064228,
 62064229,
 62064231,
 62064232,
 62064233,
 62064234,
 62064235,
 62064236,
 62064239,
 62064240,
 62064241,
 62064242,
 62064245,
 62064246,
 62064248,
 62064249,
 62064250,
 62064251,
 62064253,
 62064254,
 62064255,
 62064256,
 62064257,
 62064258,
 62064260,
 62064262,
 62064265,
 62064266,
 62064267,
 62064268,
 62064269,
 62064271,
 62064272,
 62064273,
 62064274,
 62064275,
 62064276,
 62064277,
 62064284,
 62064286,
 62064287,
 62064288,
 62064290,
 62064293,
 62064294,
 62064296,
 62064297,
 62064298,
 62064300,
 62064301,
 62064305,
 62064310,
 62064312,
 62064314,
 62064315,
 62064317,
 62064318,
 62064320,
 62064321,
 62064323,
 62064324,
 62064325,
 62064330,
 62064332,
 62064333,
 62064335,
 62064336,
 62064339,
 62064341,
 62064345,
 62064347,
 62064350,
 62064354,
 62064356,
 62064357,
 62064358,
 62064360,
 62064361,
 62064362,
 62064365,
 62064368,
 62064369,
 62064370,
 62064371,
 62064373,
 62064374,
 62064376,
 62064377,
 62064378,
 62064379,
 62064382,
 62064383,
 62064386,
 62064392,
 62064393,
 62064394,
 62064397,
 62064398,
 62064399,
 62064401,
 62064402,
 62064403,
 62064404,
 62064405,
 62064406,
 62064407,
 62064411,
 62064412,
 62064414,
 62064415,
 62064416,
 62064418,
 62064420,
 62064421,
 62064422,
 62064423,
 62064425,
 62064426,
 62064427,
 62064429,
 62064431,
 62064433,
 62064435,
 62064437,
 62064439,
 62064440,
 62064441,
 62064442,
 62064445,
 62064448,
 62064450,
 62064453,
 62064456,
 62064458,
 62064459,
 62064461,
 62064462,
 62064467,
 62064470,
 62064476,
 62064477,
 62064478,
 62064479,
 62064480,
 62064481,
 62064482,
 62064483,
 62064484,
 62064491,
 62064492,
 62064493,
 62064496,
 62064497,
 62064498,
 62064502,
 62064503,
 62064505,
 62064506,
 62064509,
 62064510,
 62064511,
 62064512,
 62064513,
 62064516,
 62064517,
 62064519,
 62064521,
 62064522,
 62064523,
 62064526,
 62064527,
 62064530,
 62064531,
 62064532,
 62064533,
 62064534,
 62064538,
 62064539,
 62064540,
 62064541,
 62064544,
 62064547,
 62064548,
 62064549,
 62064550,
 62064552,
 62064553,
 62064554,
 62064558,
 62064559,
 62064560,
 62064561,
 62064562,
 62064564,
 62064565,
 62064566,
 62064567,
 62064568,
 62064570,
 62064571,
 62064573,
 62064574,
 62064575,
 62064576,
 62064577,
 62064580,
 62064581,
 62064582,
 62064583,
 62064584,
 62064586,
 62064588,
 62064589,
 62064590,
 62064591,
 62064592,
 62064594,
 62064596,
 62064597,
 62064598,
 62064599,
 62064605,
 62064606,
 62064607,
 62064609,
 62064612,
 62064615,
 62064617,
 62064619,
 62064620,
 62064621,
 62064625,
 62064626,
 62064628,
 62064632,
 62064635,
 62064636,
 62064637,
 62064640,
 62064641,
 62064644,
 62064645,
 62064647,
 62064649,
 62064651,
 62064652,
 62064653,
 62064655,
 62064656,
 62064658,
 62064661,
 62064664,
 62064665,
 62064666,
 62064667,
 62064670,
 62064671,
 62064672,
 62064674,
 62064675,
 62064676,
 62064679,
 62064680,
 62064681,
 62064684,
 62064685,
 62064686,
 62064689,
 62064690,
 62064691,
 62064692,
 62064694,
 62064696,
 62064697,
 62064698,
 62064699,
 62064700,
 62064702,
 62064704,
 62064705,
 62064708,
 62064712,
 62064715,
 62064716,
 62064718,
 62064720,
 62064722,
 62064723,
 62064724,
 62064725,
 62064727,
 62064728,
 62064729,
 62064732,
 62064733,
 62064735,
 62064736,
 62064737,
 62064738,
 62064739,
 62064741,
 62064743,
 62064744,
 62064747,
 62064749,
 62064751,
 62064757,
 62064758,
 62064759,
 62064762,
 62064764,
 62064765,
 62064766,
 62064768,
 62064769,
 62064770,
 62064771,
 62064772,
 62064773,
 62064775,
 62064782,
 62064784,
 62064785,
 62064786,
 62064788,
 62064789,
 62064790,
 62064791,
 62064792,
 62064794,
 62064798,
 62064799,
 62064800,
 62064801,
 62064803,
 62064805,
 62064807,
 62064808,
 62064809,
 62064810,
 62064812,
 62064815,
 62064817,
 62064818,
 62064819,
 62064820,
 62064821,
 62064822,
 62064824,
 62064825,
 62064827,
 62064829,
 62064832,
 62064837,
 62064838,
 62064839,
 62064840,
 62064841,
 62064842,
 62064843,
 62064844,
 62064849,
 62064850,
 62064851,
 62064852,
 62064855,
 62064857,
 62064858,
 62064860,
 62064861,
 62064863,
 62064864,
 62064865,
 62064867,
 62064869,
 62064870,
 62064871,
 62064872,
 62064874,
 62064875,
 62064876,
 62064881,
 62064882,
 62064885,
 62064886,
 62064888,
 62064889,
 62064890,
 62064895,
 62064896,
 62064897,
 62064899,
 62064900,
 62064902,
 62064904,
 62064906,
 62064907,
 62064909,
 62064911,
 62064913,
 62064918,
 62064919,
 62064920,
 62064921,
 62064922,
 62064923,
 62064924,
 62064925,
 62064926,
 62064927,
 62064930,
 62064931,
 62064932,
 62064933,
 62064934,
 62064935,
 62064938,
 62064939,
 62064940,
 62064941,
 62064944,
 62064946,
 62064949,
 62064950,
 62064952,
 62064953,
 62064955,
 62064957,
 62064959,
 62064961,
 62064963,
 62064964,
 62064965,
 62064968,
 62064969,
 62064971,
 62064974,
 62064975,
 62064978,
 62064980,
 62064983,
 62064984,
 62064985,
 62064986,
 62064987,
 62064992,
 62064993,
 62064995,
 62064996,
 62065000,
 62065001,
 62065003,
 62065004,
 62065005,
 62065007,
 62065008,
 62065009,
 62065010,
 62065011,
 62065012,
 62065013,
 62065015,
 62065016,
 62065017,
 62065019,
 62065021,
 62065022,
 62065024,
 62065026,
 62065027,
 62065028,
 62065029,
 62065030,
 62065031,
 62065033,
 62065034,
 62065035,
 62065036,
 ...]

In [325]:
len(list_patient)

27518

## Add measures

### SQL requests

In [332]:
query = """
select
    distinct m.person_id, m.measurement_datetime, m.measurement_concept_name, m.value_source_value, m.unit_source_value, d.death_datetime
from 
    measurement m 
left join 
    death d on d.person_id = m.person_id
where
    measurement_concept_id IN
    (3022318,   -- heart_rhythm
     3024171,   -- respiratory_rate
     3028354,   -- vent_settings
     3012888,   -- diastolic_bp
     3027598,   -- map_bp
     3004249,   -- systolic_bp
     3027018,   -- heart_rate
     3020891,   -- temperature
     3016502,   -- spo2
     3020716,   -- fio2
     3032652    -- glasgow coma scale
    )
and m.person_id = 62073122
order by measurement_datetime
limit 100
    ;"""

measures = pd.read_sql_query(query, conn)

### Change type datetime

In [333]:
measures['death_datetime'] = pd.to_datetime(measures['death_datetime'])
measures['measurement_datetime'] = pd.to_datetime(measures['measurement_datetime'])
measures

,person_id,measurement_datetime,measurement_concept_name,value_source_value,unit_source_value,death_datetime
0,62073122,2108-04-06 16:30:00,Heart rate,115,BPM,NaT
1,62073122,2108-04-06 16:30:00,Body temperature,36.111099243164062,Deg. C,NaT
2,62073122,2108-04-06 16:30:00,Mean blood pressure,100.66699981689453,mmHg,NaT
3,62073122,2108-04-06 16:30:00,Respiratory rate,22,BPM,NaT
4,62073122,2108-04-06 16:30:00,Oxygen saturation in Arterial blood,100,%,NaT
5,62073122,2108-04-06 16:30:00,Heart rate rhythm,Sinus Tachy,None,NaT
6,62073122,2108-04-06 16:30:00,BP systolic,130,mmHg,NaT
7,62073122,2108-04-06 16:30:00,BP diastolic,86,mmHg,NaT
8,62073122,2108-04-06 16:30:00,Body temperature,97,Deg. F,NaT
9,62073122,2108-04-06 17:00:00,BP systolic,118,mmHg,NaT
10,62073122,2108-04-06 17:00:00,Oxygen saturation in Arterial blood,100,%,NaT
11,62073122,2108-04-06 17:00:00,Mean blood pressure,85.333297729492188,mmHg,NaT
12,62073122,2108-04-06 17:00:00,BP diastolic,69,mmHg,NaT
13,62073122,2108-04-06 17:00:00,Respiratory rate,20,BPM,NaT
14,62073122,2108-04-06 17:00:00,Heart rate,117,BPM,NaT
15,62073122,2108-04-06 17:00:00,Heart rate rhythm,Sinus Tachy,None,NaT
16,62073122,2108-04-06 18:00:00,Oxygen saturation in Arterial blood,95,%,NaT
17,62073122,2108-04-06 18:00:00,Heart rate,122,BPM,NaT
18,62073122,2108-04-06 18:00:00,BP diastolic,70,mmHg,NaT
19,62073122,2108-04-06 18:00:00,Heart rate rhythm,Sinus Tachy,None,NaT
20,62073122,2108-04-06 18:00:00,Mean blood pressure,88,mmHg,NaT
21,62073122,2108-04-06 18:00:00,BP systolic,124,mmHg,NaT
22,62073122,2108-04-06 18:00:00,Respiratory rate,18,BPM,NaT
23,62073122,2108-04-06 19:00:00,Heart rate rhythm,Sinus Tachy,None,NaT
24,62073122,2108-04-06 19:00:00,Heart rate,117,BPM,NaT
25,62073122,2108-04-06 19:00:00,Respiratory rate,23,BPM,NaT
26,62073122,2108-04-06 19:00:00,Oxygen saturation in Arterial blood,100,%,NaT
27,62073122,2108-04-06 20:00:00,Body temperature,36.333301544189453,Deg. C,NaT
28,62073122,2108-04-06 20:00:00,BP diastolic,89,mmHg,NaT
29,62073122,2108-04-06 20:00:00,Heart rate rhythm,Sinus Tachy,None,NaT
...,...,...,...,...,...,...
70,62073122,2108-04-07 01:00:00,Heart rate rhythm,Sinus Tachy,None,NaT
71,62073122,2108-04-07 01:00:00,Heart rate,105,BPM,NaT
72,62073122,2108-04-07 01:00:00,BP diastolic,62,mmHg,NaT
73,62073122,2108-04-07 02:00:00,Respiratory rate,19,BPM,NaT
74,62073122,2108-04-07 02:00:00,Heart rate,103,BPM,NaT
75,62073122,2108-04-07 02:00:00,Heart rate rhythm,Sinus Tachy,None,NaT
76,62073122,2108-04-07 02:00:00,Mean blood pressure,85.333297729492188,mmHg,NaT
77,62073122,2108-04-07 02:00:00,BP systolic,116,mmHg,NaT
78,62073122,2108-04-07 02:00:00,Oxygen saturation in Arterial blood,98,%,NaT
79,62073122,2108-04-07 02:00:00,BP diastolic,70,mmHg,NaT
80,62073122,2108-04-07 03:00:00,BP diastolic,70,mmHg,NaT
81,62073122,2108-04-07 03:00:00,BP systolic,113,mmHg,NaT
82,62073122,2108-04-07 03:00:00,Oxygen saturation in Arterial blood,97,%,NaT
83,62073122,2108-04-07 03:00:00,Heart rate rhythm,Sinus Tachy,None,NaT
84,62073122,2108-04-07 03:00:00,Mean blood pressure,84.333297729492188,mmHg,NaT
85,62073122,2108-04-07 03:00:00,Respiratory rate,21,BPM,NaT
86,62073122,2108-04-07 03:00:00,Heart rate,106,BPM,NaT
87,62073122,2108-04-07 04:00:00,Oxygen saturation in Arterial blood,94,%,NaT
88,62073122,2108-04-07 04:00:00,Respiratory rate,18,BPM,NaT
89,62073122,2108-04-07 04:00:00,Heart rate rhythm,Sinus Tachy,None,NaT
90,62073122,2108-04-07 04:00:00,Body temperature,97,Deg. F,NaT
91,62073122,2108-04-07 04:00:00,BP diastolic,60,mmHg,NaT
92,62073122,2108-04-07 04:00:00,Mean blood pressure,88,mmHg,NaT
93,62073122,2108-04-07 04:00:00,Heart rate,109,BPM,NaT
94,62073122,2108-04-07 04:00:00,BP systolic,144,mmHg,NaT
95,62073122,2108-04-07 04:00:00,Body temperature,36.111099243164062,Deg. C,NaT
96,62073122,2108-04-07 05:00:00,Oxygen saturation in Arterial blood,100,%,NaT
97,62073122,2108-04-07 05:00:00,Mean blood pressure,88.333297729492188,mmHg,NaT
98,62073122,2108-04-07 05:00:00,Heart rate,100,BPM,NaT
99,62073122,2108-04-07 05:00:00,Respiratory rate,16,BPM,NaT

### Add target value (y)

In [334]:
def define_target_value(row):
    if row['death_datetime']-timedelta(days=3) <= row['measurement_datetime']:
        val = 1
    else:
        val = 0
    return val

measures['target'] = measures.apply(define_target_value, axis=1)

### Row to columns

In [335]:
measures = measures.pivot_table(index=['measurement_datetime','target','person_id'], columns='measurement_concept_name', values='value_source_value', aggfunc='first')
measures

,,measurement_concept_name,BP diastolic,BP systolic,Body temperature,Heart rate,Heart rate rhythm,Mean blood pressure,Oxygen saturation in Arterial blood,Respiratory rate
measurement_datetime,target,person_id,,,,,,,,
2108-04-06 16:30:00,0,62073122,86,130,36.111099243164062,115,Sinus Tachy,100.66699981689453,100,22
2108-04-06 17:00:00,0,62073122,69,118,None,117,Sinus Tachy,85.333297729492188,100,20
2108-04-06 18:00:00,0,62073122,70,124,None,122,Sinus Tachy,88,95,18
2108-04-06 19:00:00,0,62073122,None,None,None,117,Sinus Tachy,None,100,23
2108-04-06 20:00:00,0,62073122,89,136,36.333301544189453,117,Sinus Tachy,104.66699981689453,100,18
2108-04-06 21:00:00,0,62073122,54,132,None,118,Sinus Tachy,80,95,20
2108-04-06 22:00:00,0,62073122,50,145,None,115,Sinus Tachy,81.666702270507812,95,18
2108-04-06 23:00:00,0,62073122,80,141,None,117,Sinus Tachy,100.33300018310547,96,20
2108-04-07 00:00:00,0,62073122,63,114,36.555599212646484,112,Sinus Tachy,80,97,22
2108-04-07 01:00:00,0,62073122,62,118,None,105,Sinus Tachy,80.666702270507812,99,21
2108-04-07 02:00:00,0,62073122,70,116,None,103,Sinus Tachy,85.333297729492188,98,19
2108-04-07 03:00:00,0,62073122,70,113,None,106,Sinus Tachy,84.333297729492188,97,21
2108-04-07 04:00:00,0,62073122,60,144,97,109,Sinus Tachy,88,94,18
2108-04-07 05:00:00,0,62073122,None,None,None,100,None,88.333297729492188,100,16

### Change type to float

In [336]:
measures.reset_index(inplace=True)
measures.columns.name = None
measures[['BP diastolic','BP systolic','Body temperature','Heart rate','Mean blood pressure','Oxygen saturation in Arterial blood','Respiratory rate']] = measures[['BP diastolic','BP systolic','Body temperature','Heart rate','Mean blood pressure','Oxygen saturation in Arterial blood','Respiratory rate']].apply(pd.to_numeric, errors='ignore')

## Data enhancement

### Add rolling mean

In [337]:
df_rm = measures

def add_avg(row, df, time, column):
    filter_df = df[(df['measurement_datetime'] >= (row['measurement_datetime']-timedelta(hours=time))) & (df['measurement_datetime'] < row['measurement_datetime'])]
    try:
        return filter_df[column].mean()
    except:
        return float('nan')

df_rm['Respiratory rate avg h-2'] = df_rm.apply(lambda x: add_avg(x, df, 2, 'Respiratory rate'), axis=1)
df_rm

,measurement_datetime,target,person_id,BP diastolic,BP systolic,Body temperature,Heart rate,Heart rate rhythm,Mean blood pressure,Oxygen saturation in Arterial blood,Respiratory rate,Respiratory rate avg h-2
0,2108-04-06 16:30:00,0,62073122,86.0,130.0,36.111099,115,Sinus Tachy,100.667000,100,22,NaN
1,2108-04-06 17:00:00,0,62073122,69.0,118.0,NaN,117,Sinus Tachy,85.333298,100,20,22.0
2,2108-04-06 18:00:00,0,62073122,70.0,124.0,NaN,122,Sinus Tachy,88.000000,95,18,21.0
3,2108-04-06 19:00:00,0,62073122,NaN,NaN,NaN,117,Sinus Tachy,NaN,100,23,19.0
4,2108-04-06 20:00:00,0,62073122,89.0,136.0,36.333302,117,Sinus Tachy,104.667000,100,18,20.5
5,2108-04-06 21:00:00,0,62073122,54.0,132.0,NaN,118,Sinus Tachy,80.000000,95,20,20.5
6,2108-04-06 22:00:00,0,62073122,50.0,145.0,NaN,115,Sinus Tachy,81.666702,95,18,19.0
7,2108-04-06 23:00:00,0,62073122,80.0,141.0,NaN,117,Sinus Tachy,100.333000,96,20,19.0
8,2108-04-07 00:00:00,0,62073122,63.0,114.0,36.555599,112,Sinus Tachy,80.000000,97,22,19.0
9,2108-04-07 01:00:00,0,62073122,62.0,118.0,NaN,105,Sinus Tachy,80.666702,99,21,21.0
10,2108-04-07 02:00:00,0,62073122,70.0,116.0,NaN,103,Sinus Tachy,85.333298,98,19,21.5
11,2108-04-07 03:00:00,0,62073122,70.0,113.0,NaN,106,Sinus Tachy,84.333298,97,21,20.0
12,2108-04-07 04:00:00,0,62073122,60.0,144.0,97.000000,109,Sinus Tachy,88.000000,94,18,20.0
13,2108-04-07 05:00:00,0,62073122,NaN,NaN,NaN,100,None,88.333298,100,16,19.5

## Create Dataset

In [338]:
def create_data_set(list_patients):
    nb = 0
    frame = []
    for patient in list_patients:
        query = """
        select
            distinct m.person_id, m.measurement_datetime, m.measurement_concept_name, m.value_source_value, m.unit_source_value, d.death_datetime
        from 
            measurement m 
        left join 
            death d on d.person_id = m.person_id
        where
            measurement_concept_id IN
            (3022318,   -- heart_rhythm
             3024171,   -- respiratory_rate
             3028354,   -- vent_settings
             3012888,   -- diastolic_bp
             3027598,   -- map_bp
             3004249,   -- systolic_bp
             3027018,   -- heart_rate
             3020891,   -- temperature
             3016502,   -- spo2
             3020716,   -- fio2
             3032652    -- glasgow coma scale
            )
        and m.person_id = %s
        order by measurement_datetime
        limit 100 
            ;""" %patient

        df = pd.read_sql_query(query, conn)

        df['death_datetime'] = pd.to_datetime(df['death_datetime'])
        df['measurement_datetime'] = pd.to_datetime(df['measurement_datetime'])

        df['target'] = df.apply(define_target_value, axis=1)

        df = df.pivot_table(index= ['measurement_datetime','target','person_id'], columns='measurement_concept_name', values='value_source_value', aggfunc='sum')
        df.reset_index(inplace=True)
        df.columns.name = None
        df[['BP diastolic','BP systolic','Body temperature','Heart rate','Mean blood pressure','Oxygen saturation in Arterial blood','Respiratory rate']] = df[['BP diastolic','BP systolic','Body temperature','Heart rate','Mean blood pressure','Oxygen saturation in Arterial blood','Respiratory rate']].apply(pd.to_numeric, errors='ignore')

        df['Respiratory rate avg h-2'] = df.apply(lambda x: add_avg(x, df, 2, 'Respiratory rate'), axis=1)
        
        frame.append(df)
        nb+=1
        print(nb)
    
    return pd.concat(frame)

In [339]:
list_patient_test = list_patient[:8]

In [343]:
dataset = create_data_set(list_patient_test)

1
2
3
4
5
6
7
8

### Export the dataset

In [344]:
dataset.to_csv("dataset_omop", sep='\t', encoding='utf-8')